body {
    font-family: Arial;
}

pre.code {
    padding: 5px;
    background-color: #eee;
    border: 2px dashed gray;
    margin-top: 0;
    margin-bottom: 40px;
    overflow-x: auto;
}

pre.code span {
    color: green;
}

pre.code span span {
    color: red;
}