$tree-elbow-height: 20px !default;
$tree-elbow-width: 16px !default;
$tree-checkbox-margin-top: 4px !default;
$tree-checkbox-margin-right: 3px !default;
$tree-icon-margin-top: 2px !default;
$tree-icon-margin-right: 3px !default;
$grid-cell-treecolumn-editor-field-padding-horizontal: 1px !default;