@media (max-width: 750px) {
    .dashletcontainer {
      float: left;
    }
    .dashletPanel {
      overflow: auto;
    }
    .dashboardTabList {
      display: none;
    }
    .dashletPanel::-webkit-scrollbar-track {
        background: $dashboard-scrollbar-bg; 
    }      
    .dashletPanel::-webkit-scrollbar-thumb {
        background-color: $dashboard-scroll; 
        border-radius: 20px;  
    }
  }
  