.password-manager {  
    border-top: 1px solid lightgrey;
    padding-top: 1em;
    tr td {
        padding: 0;
    } 
    table.view {
        tr td {
            text-transform: capitalize;            
            padding-left: 1.8em;
            vertical-align: initial;
            color: $admin-label-color;
        }
         h4 {
             margin-top: 1em;
             margin-left: 1em;
             font-weight: 600;
             text-transform: uppercase;
             font-size: 1.1em;
             color: $admin-mid-color;
         }       
    }      
    #pwdsec_table,#ldap_table,#saml_table {
        table tr td {
            padding: 0;
        }
        table tr th {
            padding-left: 0;
            h4 {
                margin-left: 0;
            }
        }
    }
    table#syst_generated_pwd_table {
        tr td {
            padding: 0;
        }
    }    
    table#forgot_password_table {
        tr td {
            padding: 0;
        }
    }
    input[type=text],input[type=password],input[type=email],input[type=number]{
        background-color: $transparent-color;
        border: 1px solid $form-border-color;
        position: relative;
        top: -1;
        height: 2.1em;
    }
    select {
        background: url($select-edit-background-url) no-repeat right;
        background-size: 25px 11px;
        border-color: $bright-grey;
    }
    textarea {
        background-color: $transparent-color;
        border: 1px solid $form-border-color;
    }
    .action-button {
        display: none;
    }
    .action-button-top {
        position: absolute;
        right:0;
        margin-top: -4.3em;        
    }
    input[type=submit],input[type=button] {
        background-color: $nepal-grey;
        border-radius: 0.2em;
        font-weight: bold;
        height: 2.2em;
        line-height: 1em;
        letter-spacing: 0.05em;
        padding: 0.3em 1em;
        text-transform: capitalize;
        &:hover {
            background: $pale-blue;
        }
    }
    .action-btn-create-edit {
        .button {
            position: relative;
            bottom: 0.1em;
        }
    }
}

@media (max-width: 750px) {
    .password-manager {  
        border-top: none;
        padding-top: 0;
        table.view h4 {
            background: $transparent-color;
            border: none;
            border-bottom: 1px solid #ccc;
        }
        .edit tr {
            border-bottom: none;
        }
        .edit tr td[scope=row] {
            line-height: 20px;
        }
        input[type=button] {
            font-size: 13px !important;
        }
        select {
            margin-bottom: 1em;
        }
        .action-button-top {
            position: relative;
            border-bottom: 1px solid #ccc;
            padding-bottom: 0.5em;
            display: flex;
            justify-content: flex-end;
            margin-top:0;
        }
        .actionsContainer {
            margin-bottom: 1em;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .password-manager { 
        border-top: none;
        padding-top: 0;
        .action-button-top {
            position: relative;
            border-bottom: 1px solid #ccc;
            padding-bottom: 0.5em;
            display: flex;
            justify-content: flex-end;
        }
        .actionsContainer {
            margin-bottom: 1em;
        }
    }    
}