table#header_table_chart {
    margin-top: 0.5em;  
    td[scope="row_label"] {
        text-transform: uppercase;
        padding: 5px 30px 5px 0px !important;
    }  
    input[type=text],input[type=password],input[type=email] {
        background-color:$transparent-color;
        border: 1px solid $form-border-color;
        width: 30%;
    }
    select {
        background: url($select-edit-background-url) no-repeat right;
        background-size: 25px 11px;
        border-color: $bright-grey;
    }    
    .utilsLink {        
        background-color: $nepal-grey;
        text-transform: capitalize;
        font-size: 13px;
        font-weight: bold;
        color: $white;
        cursor: pointer;
        padding: 7px 20px 7px 20px;
        margin: 0 0 0 0;
        border: none;
        border-radius: 3px;
        text-decoration: none;
    }
}

hr.spacer {
    margin-top: 0;
    margin-bottom: 10px;
    border-top: 1px solid lightgray;
}

.view-action-view_GanttChart {
    #exportToPDFSpan {       
        .ui-icon, .ui-widget-content .ui-icon {
            background: url('../../../../../themes/suite8/images/close.png') no-repeat;
            background-size: 70%;
            margin-top: -4px;
            margin-left: -5px;
        }
        button {
            color: transparent;
            background: $white;
            border: none;
        }
    }
  }
/* Projects Resource Panel Edit View */

.view-module-Project {    
    #scheduler .schedulerDiv {
        padding-top: 0; 
        margin-top: 1em;
        h2 {
            font-size: 16px;
            font-weight: bold;
        }
    }
    #create-invitees {
        padding-top:0;
        margin-top: 1em;
        h3 {
            font-size: 16px;
        }
    }
    .schedulerInvitees {
        margin-top: 1em;
        border-bottom: 1px solid $panel-border-bg;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        h3 {
            margin-top: 0;
            font-size: 16px;
        }
    }
    input[type=text],input[type=password],input[type=email],input[type=number]{
        background-color: $transparent-color;
        border: 1px solid $form-border-color;        
    }
    #scheduler .edit input[type=submit]#invitees_search {
        margin: 0.2em;
        font-weight: bold;
        height: 2.2em;
        line-height: 1.1em;
        background-color: rgb(147, 164, 179);
        text-transform: capitalize; 
        border-radius: 0.2em;
        padding: 0.3em 1em;
        letter-spacing: 0.05em;
        &:hover {
            background: $btn-hover-bg-color;
        }
    }
    #scheduler {
        input[type=button] {
            margin: 0.2em;
            font-weight: bold;
            height: 2.2em;
            line-height: 1.1em;
            background-color: rgb(147, 164, 179);
            text-transform: capitalize; 
            border-radius: 0.2em;
            padding: 0.3em 1em;
            letter-spacing: 0.05em;
            &:hover {
                background: $btn-hover-bg-color;
            }
        }
        input[type="button"][disabled] {
            background: #a59f9f;
            opacity: 0.5;
        }
    } 
    div.buttons {
        #SAVE_HEADER,#CANCEL_HEADER {
            display: none;
        }
    }    
}

/* Projects Resource Panel Edit View Ends here */
