.security-suite-settings {
    position: relative;
    .hide-btn {
        display: none;
    }
    select {
        background: url($select-edit-background-url) no-repeat right;
        background-size: 25px 11px;
        border-color: $bright-grey;
        margin-top: 1em;
    }
    table.view {
        tr td {           
            font-weight: 600;            
            vertical-align: initial;
            padding-left: 1em;
            line-height: 2.5em;
            padding-top: 0.5em;
            em {
                font-weight: normal;
                font-style: normal;
            }
        }
        margin-top: 1em;
        h4 {
            margin-top: 1em;
            font-weight: 600;
            text-transform: uppercase;
        }  
    }
    .action-button {
        position: absolute;
        top: -3em;
        right:0;
        .button {
            background-color: $nepal-grey;
            border-radius: 0.2em;
            font-weight: bold;
            height: 2.2em;
            line-height: 1em;
            letter-spacing: 0.05em;
            padding: 0.3em 1em;
            text-transform: capitalize;
            &:hover {
                background: $pale-blue;
            }
        }
    }
}

.view-module-SecurityGroups {    
    form#EditView {
        table.dcQuickEdit {
            .action-buttons {
                top: -3.5em;
                width: 100%;
                height: 100%;
                #save_and_continue.button {                     
                    background-color: $nepal-grey;
                    border-radius: 0.2em;
                    font-weight: bold;
                    height: 2.2em;
                    line-height: 1em;
                    letter-spacing: 0.05em;
                    padding: 0.3em 1em;
                    margin: 0.2em;
                    text-transform: capitalize;
                    &:hover {
                        background: $pale-blue;
                    }                     
                }
            }
            
        }
    }
}