// Core variables and mixins
@import "color-palette";
@import "variables";
@import "icons";
@import "../bootstrap/mixins";

// Reset and dependencies
@import "../bootstrap/normalize";
@import "../bootstrap/print";
@import "../bootstrap/glyphicons";

// Core CSS
@import "../bootstrap/scaffolding";
@import "../bootstrap/type";
@import "../bootstrap/code";
@import "../bootstrap/grid";
@import "../bootstrap/tables";
@import "../bootstrap/forms";
@import "../bootstrap/buttons";

// Components
@import "../bootstrap/component-animations";
@import "../bootstrap/dropdowns";
@import "../bootstrap/button-groups";
@import "../bootstrap/input-groups";
@import "../bootstrap/navs";
@import "../bootstrap/navbar";
@import "../bootstrap/breadcrumbs";
@import "../bootstrap/pager";
@import "../bootstrap/labels";
@import "../bootstrap/badges";
@import "../bootstrap/jumbotron";
@import "../bootstrap/thumbnails";
@import "../bootstrap/alerts";
@import "../bootstrap/progress-bars";
@import "../bootstrap/media";
@import "../bootstrap/list-group";
@import "../bootstrap/panels";
@import "../bootstrap/responsive-embed";
@import "../bootstrap/wells";
@import "../bootstrap/close";

// Components w/ JavaScript
@import "../bootstrap/modals";
@import "../bootstrap/tooltip";
@import "../bootstrap/popovers";
@import "../bootstrap/carousel";

// Utility classes
@import "../bootstrap/utilities";
@import "../bootstrap/responsive-utilities";

// Generated Glyphs
@import '../suitep-base/suitepicon-glyphs';
// Font fixes
@import '../suitep-base/suitepicon';

/**SuiteP Theme Base Styles**/
@import '../suitep-base/mixins';
@import '../suitep-base/main';
@import '../suitep-base/aor';
@import '../suitep-base/aow';
@import '../suitep-base/sidebar';
@import '../suitep-base/navbar';
@import '../suitep-base/login';
@import '../suitep-base/forms';
@import '../suitep-base/dashboard';
@import '../suitep-base/listview';
@import '../suitep-base/detailview';
@import '../suitep-base/editview';
@import '../suitep-base/tabs';
@import '../suitep-base/panels';
@import '../suitep-base/admin';
@import '../suitep-base/campaigns';
@import '../suitep-base/yui';
@import '../suitep-base/cases';
@import '../suitep-base/calendar';
@import '../suitep-base/email';
@import '../suitep-base/modal';
@import '../suitep-base/popup';
@import '../suitep-base/studio';
@import '../suitep-base/tinemce.scss';
@import '../suitep-base/jstree';
//