<?php

use SuiteCRM\Utility\Paths;

$paths = new Paths();

$finder = PhpCsFixer\Finder::create()
    ->exclude('cache')
    ->exclude('service')
    ->exclude('build')
    ->exclude('vendor')
    ->exclude('themes')
    ->exclude('upload')
    ->exclude('XTemplate')
    ->exclude('Zend')
    ->exclude('include/timezone')
    ->exclude('include/SuiteGraphs')
    ->exclude('include/social')
    ->exclude('include/Smarty')
    ->exclude('include/reCaptcha')
    ->exclude('include/phpmailer')
    ->exclude('include/Pear')
    ->exclude('include/pclzip')
    ->exclude('include/nusoap')
    ->exclude('include/HTTP_WebDAV_Server')
    ->exclude('include/HTMLPurifier')
    ->exclude('include/ytree')
    ->exclude('include/tcpdf')
    ->exclude('include/php-sql-parser.php')
    ->exclude('include/parsecsv.lib.php')
    ->exclude('modules/AOS_PDF_Templates/PDF_Lib')
    ->exclude('modules/AOD_Index/Lib')
    ->exclude('modules/Users/authentication/SAML2Authenticate/lib')
    ->exclude('modules/AOR_Charts/lib')
    ->exclude('install/demoData.en_us.php')
    ->exclude('include/SugarObjects/templates')
    ->in($paths->getProjectPath());

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
    ])
    ->setFinder($finder);
