/**** Detail view ***/
@import 'variables';

.favorite_icon_fill svg,
.favorite_icon_outline svg{
  width: 28px;
  height: 28px;

}

.moduleTitle .module-title-text {
  height: 36px;
  line-height: 36px;
  margin-bottom: $detail-view-module-title-space;
}