/**** Emails ***/
@import 'variables';

.email-indicator {
  text-align: center;
}

.email-indicator .email-flagged {
  background-color: $danger-btn-bg;
  border-radius: 28px;
  color: $default-btn-color;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
  width: 24px;
}

.email-indicator .email-new {
  background-color: $info-btn-bg;
  color: $default-btn-color;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 900;
  line-height: 20px;
}

.email-new-record.oddListRowS1:hover td {
  background-color: $table-focus-bg;
}

.email-new-record.evenListRowS1:hover td {
  background-color: $table-focus-bg;
}

.email-new-record.oddListRowS1 td {
  background-color: $email-new-record-bg-odd;
  font-weight: 900;
}

.email-new-record.evenListRowS1 td {
  background-color: $email-new-record-bg-even;
  font-weight: 900;
}