/**** FORM ****/
@import 'variables';


fieldset {
  margin-bottom: 0;
}

table {
  margin-bottom: 0;
}

pre {
  margin-bottom: 0;
}

p {
  font-size: $page-p-size;
  margin-top: 0;
  margin-bottom: 0;
}

a {
}

form {
  margin: 0;
}

textarea {
  font-family: $page-font-family;
}


.checkbox {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  visibility: visible;
  height: 16px;
  width: 16px;
  background: url('../../../../themes/SuiteP/images/forms/check.png') no-repeat;
  overflow: hidden;
}

input[type=checkbox] {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  visibility: visible;
  height: 16px;
  width: 16px;
  background: url('../../../../themes/SuiteP/images/forms/check.png') no-repeat;
  overflow: hidden;
}

input[type=radio] {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  visibility: visible;
  height: 16px;
  width: 16px;
  background: url('../../../../themes/SuiteP/images/forms/radio.png') no-repeat;
}

input[type=checkbox]:focus {
  outline: 0;
}

input[type=radio]:focus {
  outline: 0;
}

input[type=checkbox] {
  background-position: 0 0;
}

input[type=checkbox]:checked {
  background-position: -18px 0;
}

input[type=checkbox]:disabled {
  background-position: -36px 0;
}

input[type=checkbox]:disabled:checked {
  background-position: -54px 0;
}

input[type=checkbox]:checked:disabled {
  background-position: -54px 0;
}

input[type=radio] {
  background-position: 0 0;
}

input[type=radio]:checked {
  background-position: -18px 0;
}

input[type=radio]:disabled {
  background-position: -36px 0;
}

input[type=radio]:disabled:checked {
  background-position: -54px 0;
}

input[type=radio]:checked:disabled {
  background-position: -54px 0;
}

td.nowrap input[type=checkbox] {
  margin-top: 3px;
}

input[type=text]:disabled {
  border: 1px solid $default-text-disabled-border-color;
  background: $default-text-disabled-color;
}


#bigbutton {
  border-radius: 0;
  padding: 10px 0 10px 0;
}

div.input-group input {
  margin: 0 auto;
  min-width: 100% ;
  max-width: 100% ;
}

.button-primary:active {
  background-image: none;
}

.button-primary.active {
  background-image: none;
}

.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.button-primary.disabled {
  background-color: $disabled-btn-color;
  border-color: $disabled-btn-color;
}

.button-primary[disabled] {
  background-color: $disabled-btn-color;
  border-color: $disabled-btn-color;
}

fieldset[disabled] .btn-primary {
  background-color: $disabled-btn-color;
  border-color: $disabled-btn-color;
}

.button-primary.disabled:hover {
  background-color: $disabled-btn-color;
  border-color: $disabled-btn-color;
}

.button-primary[disabled]:hover {
  background-color: $disabled-btn-color;
  border-color: $disabled-btn-color;
}

fieldset[disabled] .btn-primary:hover {
  background-color: $disabled-btn-color;
  border-color: $disabled-btn-color;
}

.button-primary.disabled:focus {
  background-color: $disabled-btn-color;
  border-color: $disabled-btn-color;
}

.button-primary[disabled]:focus {
  background-color: $disabled-btn-color;
  border-color: $disabled-btn-color;
}

fieldset[disabled] .btn-primary:focus {
  background-color: $disabled-btn-color;
  border-color: $disabled-btn-color;
}

.button-primary.disabled.focus {
  background-color: $disabled-btn-color;
  border-color: $disabled-btn-color;
}

.button-primary[disabled].focus {
  background-color: $disabled-btn-color;
  border-color: $disabled-btn-color;
}

fieldset[disabled] .btn-primary.focus {
  background-color: $disabled-btn-color;
  border-color: $disabled-btn-color;
}

.button-primary.disabled:active {
  background-color: $disabled-btn-color;
  border-color: $disabled-btn-color;
}

.button-primary[disabled]:active {
  background-color: $disabled-btn-color;
  border-color: $disabled-btn-color;
}

fieldset[disabled] .btn-primary:active {
  background-color: $disabled-btn-color;
  border-color: $disabled-btn-color;
}

.button-primary.disabled.active {
  background-color: $disabled-btn-color;
  border-color: $disabled-btn-color;
}

.button-primary[disabled].active {
  background-color: $disabled-btn-color;
  border-color: $disabled-btn-color;
}

fieldset[disabled] .btn-primary.active {
  background-color: $disabled-btn-color;
  border-color: $disabled-btn-color;
}

.button-primary .badge {
  color: $link-color;
  background-color: $main-alternate-bg;
  padding: 5px;
}


#EditView_tabs .edit .button {
  margin-right: 4px;
  background-color: $danger-btn-bg;
  border: 1px solid $danger-btn-bg;
  border-radius: 4px;
}

#ConvertLead .edit .button {
  margin-right: 4px;
  padding: 0;
  background-color: $danger-btn-bg;
  border: 1px solid $danger-btn-bg;
  border-radius: 4px;
}

#EditView_tabs .id-ff-remove {
  margin-right: 4px;
  padding: 0;
  background-color: $danger-btn-bg;
  border: 1px solid $danger-btn-bg;
  border-radius: 4px;
}

#ConvertLead .id-ff-remove {
  margin-right: 4px;
  padding: 0;
  background-color: $danger-btn-bg;
  border: 1px solid $danger-btn-bg;
  border-radius: 4px;
}

#EditView_tabs .edit [type="button"] {
  margin-right: 4px;
  background-color: $danger-btn-bg;
  border: 1px solid $danger-btn-bg;
  border-radius: 4px;
}

#conditionLines [type="button"] {
  margin-right: 4px;
  padding: 0;
  background-color: $danger-btn-bg;
  border: 1px solid $danger-btn-bg;
  border-radius: 4px;
}

#actionLines [type="button"] {
  margin-right: 4px;
  padding: 0;
  background-color: $danger-btn-bg;
  border: 1px solid $danger-btn-bg;
  border-radius: 4px;
}

#deleteGroup img {
  margin-right: 4px;
  padding: 0;
  background-color: $danger-btn-bg;
  border: 1px solid $danger-btn-bg;
  border-radius: 4px;
}

.btn-danger {
  background-color: $danger-btn-bg;
  border: 1px solid $danger-btn-bg;
}

.btn-danger:hover {
  background-color: $danger-btn-bg;
  border: 1px solid $danger-btn-bg;
}

.btn-danger:active {
  background-color: $danger-btn-bg;
  border: 1px solid $danger-btn-bg;
}

.btn-danger:focus {
  background-color: $danger-btn-bg;
  border: 1px solid $danger-btn-bg;
}

/** EditView action buttons ***/
.buttons .primary {
  background-color: $danger-btn-bg;
}

.buttons .primary:hover {
  background-color: $danger-btn-bg-hover;
}

.buttons .button {
  background-color: $danger-btn-bg;
}

.buttons .button:hover {
  background-color: $danger-btn-bg-hover;
}

.removeFileButton {
   cursor: pointer;
   font-size: $page-font-size;
   padding: 0 20px 0 20px;
   border-radius: 4px;
   text-transform: uppercase;
   font-weight: 500;
   letter-spacing: 1px;
   height: $input-line-height;
   line-height: $input-line-height;
   border-style: none;
 }

.removeFileButton {
  color: $default-btn-color;
  background-color: $danger-btn-bg;
}

.removeFileButton:hover {
  background-color: $danger-btn-bg-hover;
}

.buttonOn {
  cursor: pointer;
  font-size: $page-font-size;
  padding: 0 20px 0 20px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  height: $input-line-height;
  line-height: $input-line-height;
}

.btn .btn:hover {
  cursor: pointer;
  font-size: $page-font-size;
  padding: 0 20px 0 20px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  height: $input-line-height;
  line-height: $input-line-height;
}

.btn-default{
  color: $default-btn-color;
  background-color: $default-btn-bg;
  border: 1px solid $default-btn-bg;
}

.btn-default:hover {
  color: $default-btn-color;
  background-color: $default-btn-bg;
  border: 1px solid $default-btn-bg;
}

.btn-default:active {
  color: $default-btn-color;
  background-color: $default-btn-bg;
  border: 1px solid $default-btn-bg;
}

.btn-default:focus {
  color: $default-btn-color;
  background-color: $default-btn-bg;
  border: 1px solid $default-btn-bg;
}

.btn-primary {
  color: $default-btn-color;
  background-color: $primary-btn-bg;
  border: 1px solid $primary-btn-bg;
}

.btn-primary:hover {
  color: $default-btn-color;
  background-color: $primary-btn-bg;
  border: 1px solid $primary-btn-bg;
}

.btn-primary:active {
  color: $default-btn-color;
  background-color: $primary-btn-bg;
  border: 1px solid $primary-btn-bg;
}

.btn-primary:focus {
  color: $default-btn-color;
  background-color: $primary-btn-bg;
  border: 1px solid $primary-btn-bg;
}

.btn-info {
  color: $default-btn-color;
  background-color: $info-btn-bg;
  border: 1px solid $info-btn-bg;
}

input[type=button].btn-info {
  color: $default-btn-color;
  background-color: $info-btn-bg;
  border: 1px solid $info-btn-bg;
}

.btn-info:hover {
  color: $default-btn-color;
  background-color: $info-btn-bg-hover;
  border: 1px solid $info-btn-bg-hover;
}

.btn-info:active {
  color: $default-btn-color;
  background-color: $info-btn-bg-hover;
  border: 1px solid $info-btn-bg-hover;
}

.btn-info:focus {
  color: $default-btn-color;
  background-color: $info-btn-bg-hover;
  border: 1px solid $info-btn-bg-hover;
}

input[type=button].btn-info:hover {
  color: $default-btn-color;
  background-color: $info-btn-bg-hover;
  border: 1px solid $info-btn-bg-hover;
}

input[type=button].btn-info:active {
  color: $default-btn-color;
  background-color: $info-btn-bg-hover;
  border: 1px solid $info-btn-bg-hover;
}

input[type=button].btn-info:focus {
  color: $default-btn-color;
  background-color: $info-btn-bg-hover;
  border: 1px solid $info-btn-bg-hover;
}

.btn-success {
  color: $default-btn-color;
  background-color: $success-btn-bg;
  border: 1px solid $success-btn-bg;
}

.btn-success:hover {
  color: $default-btn-color;
  background-color: $success-btn-bg;
  border: 1px solid $success-btn-bg;
}

.btn-success:active {
  color: $default-btn-color;
  background-color: $success-btn-bg;
  border: 1px solid $success-btn-bg;
}

.btn-success:focus {
  color: $default-btn-color;
  background-color: $success-btn-bg;
  border: 1px solid $success-btn-bg;
}


.button {
  background: $danger-btn-bg;
  border: none;
  color: $default-btn-color;
  cursor: pointer;
  font-size: $page-font-size;
  margin: 0 0 0 0;
  padding: 0 20px 0 20px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  height: $button-line-height;
  line-height: $button-line-height;
}

input[type=submit].button:hover {
  background: $danger-btn-bg-hover;
}

input[type=submit] {
  background: $danger-btn-bg;
  border: none;
  color: $default-btn-color;
  cursor: pointer;
  font-size: $page-font-size;
  margin: 0 0 0 0;
  padding: 0 20px 0 20px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  height: $button-line-height;
  line-height: $button-line-height;
}

input[type=button] {
  background: $danger-btn-bg;
  border: none;
  color: $default-btn-color;
  cursor: pointer;
  font-size: $page-font-size;
  margin: 0 0 0 0;
  padding: 0 20px 0 20px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  height: $button-line-height;
  line-height: $button-line-height;
}

input[type=reset] {
  background: $danger-btn-bg;
  border: none;
  color: $default-btn-color;
  cursor: pointer;
  font-size: $page-font-size;
  margin: 0 0 0 0;
  padding: 0 20px 0 20px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  height: $button-line-height;
  line-height: $button-line-height;
}

.btn {
  margin-bottom: 4px;
}

button {
  margin-right: 4px;
  margin-bottom: 4px;
}

html input[type=button] {
  margin-right: 4px;
  margin-bottom: 4px;
}

input[type=reset]{
  margin-right: 4px;
  margin-bottom: 4px;
}

input[type=submit] {
  margin-right: 4px;
  margin-bottom: 4px;
}

.button {
  margin-bottom: 4px;
}

input[type=button] {
  margin-bottom: 4px;
}

input[type=reset] {
  margin-bottom: 4px;
}

input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover {
  color: $default-btn-color;
  font-size: $page-font-size;
  cursor: pointer;
}

input[type=submit]:active, input[type=button]:active, input[type=reset]:active {
  color: $default-btn-color;
  font-size: $page-font-size;
  cursor: pointer;
}

input[type=submit]:focus, input[type=button] {
  color: $default-btn-color;
  font-size: $page-font-size;
  cursor: pointer;
}

.moremenu a {
  color: $default-btn-color;
  font-size: $page-font-size;
  cursor: pointer;
  margin: 0;
}

.moremenu ul {
  margin: 0;
  top: 49px;
}

.moremenu ul li a {
  color: $danger-btn-bg ;
  cursor: pointer;
  padding: 5px;
  font-size: $page-font-size;
  display: block;
}

.moremenu ul li:hover {
  border-radius: 0 ;
}

.moremenu ul li a:hover {
  color: $default-btn-color ;
  background: none ;
  cursor: pointer;
  padding: 5px;
  background: $danger-btn-bg-hover ;
}

[button]:focus, input[type=reset]:focus {
  background: $danger-btn-bg-hover;
}


/* Remove Text Transformations for action menu*/
#tab-actions .button {
  text-transform: none;
}

#tab-actions input[type=submit] {
  text-transform: none;
}

#tab-actions input[type=button] {
  text-transform: none;
}

#tab-actions input[type=reset] {
  text-transform: none;
}

form[name=DetailView] .button {
  float: left;
  margin: 0 4px 4px 0;
}

form[name=DetailView] input[type=submit] {
  float: left;
  margin: 0 4px 4px 0;
}

form[name=DetailView] input[type=button] {
  float: left;
  margin: 0 4px 4px 0;
}

form[name=DetailView] input[type=reset] {
  float: left;
  margin: 0 4px 4px 0;
}

td.submitButtons .button:hover {
  background-color: $danger-btn-bg-hover;
}

button[disabled] {
  background-color: $disabled-btn-bg;
  border: none;
  color: $main-bg;
  cursor: pointer;
  font-size: $page-font-size;
  margin: 0 0 0 0;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  //padding: 0 20px 0 20px;
  letter-spacing: 1px;
  height: $input-line-height;
  line-height: $input-line-height;
}

input[type="submit"][disabled] {
  background-color: $disabled-btn-bg;
  border: none;
  color: $main-bg;
  cursor: pointer;
  font-size: $page-font-size;
  margin: 0 0 0 0;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  //padding: 0 20px 0 20px;
  letter-spacing: 1px;
  height: $input-line-height;
  line-height: $input-line-height;
}

input[type="reset"][disabled] {
  background-color: $disabled-btn-bg;
  border: none;
  color: $main-bg;
  cursor: pointer;
  font-size: $page-font-size;
  margin: 0 0 0 0;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  //padding: 0 20px 0 20px;
  letter-spacing: 1px;
  height: $input-line-height;
  line-height: $input-line-height;
}

input[type="button"][disabled] {
  background-color: $disabled-btn-bg;
  border: none;
  color: $main-bg;
  cursor: pointer;
  font-size: $page-font-size;
  margin: 0 0 0 0;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  //padding: 0 20px 0 20px;
  letter-spacing: 1px;
  height: $input-line-height;
  line-height: $input-line-height;
}

[field="billing_address_street"].detail-view-field {
  padding: 16px 16px 32px 16px;
}

[field="shipping_address_street"].detail-view-field {
  padding: 16px 16px 32px 16px;
}

[field="shipping_address_street"].detail-view-field .button {
  background-color: $info-btn-bg;
}

[field="billing_address_street"].detail-view-field .button {
  background-color: $info-btn-bg;
}

[field="shipping_address_street"].detail-view-field .button:hover {
  background-color: $info-btn-bg-hover;
}

[field="billing_address_street"].detail-view-field .button:hover {
  background-color: $info-btn-bg-hover;
}

.buttons input#btn_view_change_log {
  background-color: $info-btn-bg;
}

.buttons input#btn_view_change_log:hover {
  background-color: $info-btn-bg-hover;
}


.button:hover {
  color: $default-btn-color;
  background-color: $disabled-btn-color;
  border-color: $disabled-btn-color;
}

.button:focus {
  color: $default-btn-color;
  background-color: $disabled-btn-color;
  border-color: $disabled-btn-color;
}

.button.focus {
  color: $default-btn-color;
  background-color: $disabled-btn-color;
  border-color: $disabled-btn-color;
}

.button:active {
  color: $default-btn-color;
  background-color: $disabled-btn-color;
  border-color: $disabled-btn-color;
}

.button.active {
  color: $default-btn-color;
  background-color: $disabled-btn-color;
  border-color: $disabled-btn-color;
}

.open > .dropdown-toggle.btn-primary {
  color: $default-btn-color;
  background-color: $disabled-btn-color;
  border-color: $disabled-btn-color;
}

.button:active {
  background-image: none;
}

.button.active {
  background-image: none;
}

.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.button .badge {
  color: $danger-btn-bg;
  background-color: $default-btn-color;
}



.yui-layout-hd .button {
  font-size: $page-font-size;
}

.yui-layout-hd input[type=submit] {
  font-size: $page-font-size;
}

.yui-layout-hd input[type=button] {
  font-size: $page-font-size;
}

.form-control:focus  {
  border: 1px solid $input-select-bg;
  border-radius: 4px;
  box-shadow: none;
}

input[type=text] {
  background: $input-bg;
  border: 1px solid $input-select-bg;
  border-radius: 4px;
  padding: 5px;
}

input[type=password] {
  background: $input-bg;
  border: 1px solid $input-select-bg;
  border-radius: 4px;
  padding: 5px;
}

input[type=email] {
  background: $input-bg;
  border: 1px solid $input-select-bg;
  border-radius: 4px;
  padding: 5px;
}

input:not([type]) {
  background: $input-bg;
  border: 1px solid $input-select-bg;
  border-radius: 4px;
  padding: 5px;
}

textarea {
  background: $input-bg;
  border: 1px solid $input-select-bg;
  border-radius: 4px;
  padding: 5px;
}

input[type=text] {
  line-height: $input-line-height;
  min-height: $input-line-height;
}

input[type=password] {
  line-height: $input-line-height;
  min-height: $input-line-height  +  8;
}

input[type=email] {
  line-height: $input-line-height;
  min-height: $input-line-height  +  8;
}

input:not([type]) {
  line-height: $input-line-height;
  min-height: $input-line-height  +  8;
}


textarea {
  width: 50%;
}

select[size] {
  border-style: solid;
  border-size: 1px;
  border-color: $input-select-bg;
  border-radius: 4px;
  padding: 0 52px 0 5px;
  background-color: $input-select-option;
  background: url("../../../../themes/SuiteP/images/forms/select.ico") no-repeat right $input-select-option;
  background-size: 52px 52px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: 0;
  scrollbar-base-color: $input-select-bg;
  scrollbar-arrow-color: $input-select-bg;
  color: $main-font-color;
  height: $input-line-height + 8;
  line-height: $input-line-height + 8;
}

select.form-control {
  border-style: solid;
  border-size: 1px;
  border-color: $input-select-bg;
  border-radius: 4px;
  padding: 0 52px 0 5px;
  background-color: $input-select-option;
  background: url("../../../../themes/SuiteP/images/forms/select.ico") no-repeat right $input-select-option;
  background-size: 52px 52px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: 0;
  scrollbar-base-color: $input-select-bg;
  scrollbar-arrow-color: $input-select-bg;
  color: $main-font-color;
  height: $input-line-height + 8;
  line-height: $input-line-height + 8;
}

select {
  border-style: solid;
  border-size: 1px;
  border-color: $input-select-bg;
  border-radius: 4px;
  padding: 0 52px 0 5px;
  background-color: $input-select-option;
  background: url("../../../../themes/SuiteP/images/forms/select.ico") no-repeat right $input-select-option;
  background-size: 52px 52px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: 0;
  scrollbar-base-color: $input-select-bg;
  scrollbar-arrow-color: $input-select-bg;
  color: $main-font-color;
  height: $input-line-height + 8;
  line-height: $input-line-height + 8;
}

select:focus {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-style: solid;
  border-size: 1px;
  border-color: $input-select-bg;
  border-radius: 4px;
}

select::selection {
  border-style: solid;
  border-size: 1px;
  border-color: $input-select-bg;
  border-radius: 4px;
}


select#user_theme_picker {
  background-image: none;
}

select:checked {
  color: $main-font-color;
  background: $input-select-bg;
}

option:checked {
  color: $main-font-color;
  background: $input-select-bg;
}

.saved_search_select {
  background-color: $input-select-option;
  border-style: solid;
  border-size: 1px;
  border-color: $input-select-bg;
  border-radius: 4px;
  padding: 16px 55px 16px 5px;
  background: url("../../../../themes/SuiteP/images/forms/select.ico") no-repeat right $input-select-option;
  background-size: 52px 52px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select[multiple] {
  background-image: none !important;
  overflow: auto !important;
  vertical-align: text-top;
}

select.ui-widget-content {
  border-style: solid;
  border-size: 1px;
  border-color: $input-select-bg;
  border-radius: 4px;
  padding: 0 52px 0 5px;
  background-color: $input-select-option;
  background: url("../../../../themes/SuiteP/images/forms/select.ico") no-repeat right $input-select-option;
  background-size: 52px 52px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: 0;
  scrollbar-base-color: $input-select-bg;
  scrollbar-arrow-color: $input-select-bg;
  color: $main-font-color;
  height: $input-line-height + 8;
  line-height: $input-line-height + 8;
}

.form-control {
  box-shadow: none;
}


/*Email Address*/
#email1_span {
  display: block;
}
#email1_span table {
  display: block;
}

#email1_span tbody {
  display: block;
}

#email1_span tr {
  display: block;
}

#email1_span td {
  display: block;
}


#email1_span tr {
  margin-bottom: 8px;
}

div.col-sm-12 #email1_span td.email-address-input {
  width: 25%;
}

div.col-sm-6 #email1_span td.email-address-input {
  width: 50%;
}

#email1_span td.email-address-input {
  display: inline-block;
}

.edit-view-field .email-address-input input[type=text] {
  width: 100%;
}

#email1_span td.email-address-remove-button {
  width: $input-line-height + 12;
  height: $input-line-height + 12; /* same height as td.email-address-input */
  display: inline-block;
  line-height: $input-line-height + 8;
}

#email1_span td.email-address-primary {
  width: $input-line-height + 12;
  height: $input-line-height + 12; /* same height as td.email-address-input */
  display: inline-block;
  line-height: $input-line-height + 8;
}

#email1_span td.email-address-opt-out {
  width: $input-line-height + 12;
  height: $input-line-height + 12; /* same height as td.email-address-input */
  display: inline-block;
  line-height: $input-line-height + 8;
}

#email1_span td.email-address-invalid {
  width: $input-line-height + 12;
  height: $input-line-height + 12; /* same height as td.email-address-input */
  display: inline-block;
  line-height: $input-line-height + 8;
}

div.col-sm-12 #email1_span td.email-address-add-button {
  width: 25%; /* is the same width as td.email-address-input */
}

div.col-sm-6 #email1_span td.email-address-add-button {
  width: 50%; /* is the same width as td.email-address-input */
}

#email1_span  td.email-address-add-button {
  display: inline-block;
}

#email1_span  td.email-address-title {
  width: 52px; /* same widths as td.email-address-remove-button */
  font-size: 10px;
  display: inline-block;
  padding-top: 42px;
}

.emailaddresses > tbody:nth-child(1) > tr > td:nth-child(1) button img {
  content: url('../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=id-ff-add.png');
  height: 32px;
  width: 32px;
}


.emailaddresses button {
  content: url('../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=id-ff-add.png');
  height: 34px;
  width: 34px;
}


.emailaddresses button {
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: $danger-btn-bg;
}


.emailaddresses button:hover {
  background-color: $danger-btn-bg-hover;
}

#email1_span i.error {
  background: inherit;
  color: $main-font-color;
}

.email-address-line-container {
  margin-bottom: 8px;
}

.email-address-input-group {
  background: $input-bg;
  border: 1px solid $input-border;
  border-radius: 4px;
}

.email-address-input-group input[type=email].form-control {
  border: none;
  line-height: 40px;
  font-size: 14px;
  display: inline-block;
}

.email-address-input-group .form-control:focus  {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: $input-border;
  outline: 0;
}
.email-address-input-group .form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: $input-border;
  outline: 0;
}

.email-address-add-line-container .email-address-add-button {
  padding: 6px 9px 6px 9px;
}

.email-address-add-line-container .email-address-add-button:focus {
  background-color: $danger-btn-bg;
  border: 1px solid $danger-btn-bg;
}

.email-address-add-line-container .email-address-add-button:hover {
  background-color: $danger-btn-bg-hover;
  border: 1px solid $danger-btn-bg-hover;
}

/* override bootstrap (Needs to be stacked) */
.email-address-input-group .input-group .form-control:last-child,
.email-address-input-group .input-group-addon:last-child,
.email-address-input-group .input-group-btn:first-child>.btn-group:not(:first-child)>.btn,
.email-address-input-group .input-group-btn:first-child>.btn:not(:first-child),
.email-address-input-group .input-group-btn:last-child>.btn,
.email-address-input-group .input-group-btn:last-child>.btn-group>.btn,
.email-address-input-group .input-group-btn:last-child>.dropdown-toggle {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.email-address-input-group .email-address-remove-button {
  padding: 6px 9px 6px 9px;
  margin-left: 4px;
}

.email-address-input-group button[disabled].email-address-remove-button {
  padding: 6px 9px 6px 9px;
  line-height: 20px;
  height: 36px;
  width: 36px;
  font-size: $page-p-size;
}

.email-address-option label {
  font-size: 10px;
  font-weight: 600;
}

.email-address-option input {
  margin-top: 4px;
}


.email-address-input-group .validation-message {
  display: inline-block;
}

.email-address-users-profile {
  width: 248px;
}

div.email-address-line-container:not(:nth-of-type(2)) div.email-address-option label {
  visibility: collapse;
}

.col-sm-6 #email1_span div.col-xs-12.col-sm-6.email-address-input-container {
  width: 60%;
}

.col-sm-6 #email1_span div.col-xs-12.col-sm-6.email-address-options-container {
  width: 40%;
}

.col-sm-6 #email1_span .email-address-option {
  width: 33.33%;
}

font[color=red] {
  color: $danger;
}

@media (max-width: 768px) {
  .email-address-options-container {
    width: 100%;
    margin: 16px 0 16px 0;
    height: 32px;
  }
  div.email-address-line-container:not(:nth-of-type(2)) div.email-address-option label {
    visibility: visible;
  }

  .email-address-users-profile {
    width: 100%;
  }

  .edit-view-row-item {
    width: 100%;
    float: none;
    clear: both;
  }

  .col-sm-8.edit-view-field {
    width: 66.6666667%;
  }

  .edit-view-field select {
    margin-bottom: 8px;
  }

  .edit-view-field textarea {
    width: 100%;
    margin-bottom: 8px;
  }

  .edit-view-field input[type="text"] {
    width: 100%;
    margin-bottom: 8px;
  }

  .edit-view-row-item .col-sm-2 {
    width: 33.333333%;
  }

  [type="relate"].edit-view-field input[type="text"] {
    width: 340px;
  }
  .dateTime input[type="text"] {
    width: 400px;
  }

}


@media (max-width: 1600px) {
  .col-sm-6 #email1_span div.col-xs-12.col-sm-6.email-address-input-container {
    width: 62.5%;
  }

  .col-sm-6 #email1_span div.col-xs-12.col-sm-6.email-address-options-container {
    width: 100%;
    margin-top: 8px;
  }

  .col-sm-6 #email1_span .email-address-option {
    width: 20%;
  }

  .col-sm-6 #email1_span .email-address-option label {
    display: block;
    visibility: visible;
  }
}

@media (max-width: 1400px) {
  .email-address-option {
    width: 33%;
  }

  .col-sm-6 #email1_span div.col-xs-12.col-sm-6.email-address-input-container {
    width: 65%;
  }
}

@media (max-width: 1130px) {
  .col-sm-6 #email1_span .email-address-option {
    width: 33%;
  }

  table#lineItems tr td table thead tr td table tbody tr td {
    display: block;
    float: left;
  }
}

@media (min-width: 768px) {

  .email-address-options-container {
    width: 50%;
  }

  .email-address-input-group {
    background: transparent;
    border: none;
    border-radius: 4px;
  }

  .email-address-input-group input[type=email].form-control {
    background: $input-bg;
    border: 1px solid $input-select-border;
    border-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .input-group-btn:last-child>.btn,
  .input-group-btn:last-child>.btn-group {
    margin-left: 8px;
  }

  .email-address-input-group .email-address-remove-button {
    margin-left: 8px;
  }
}