/**** List view ***/
@import 'variables';


.list {
  padding: 0;
  margin-bottom: 10px;
}

.list .pagination {
  padding: 0;
  border: 0;
  margin: 0;
}

.list .pagination td {
  padding: 0;
  border: 0;
  margin: 0;
}

.list .pagination td table {
  padding: 0;
  border: 0;
  margin: 0;
}


/* PAGINATION */

.list #pagination td {
  padding: 0;
}


.list #pagination td .paginationTable tr {
  padding: 0;
}

.list #pagination td .paginationTable tr td:first-of-type {
  padding-left: 5px;
}

.list #pagination td .paginationTable tr td:last-of-type {
  padding-right: 5px;
}

.list #pagination td .paginationTable .paginationActionButtons {
  background-color: $list-view-toolbar-bg;
  padding: 5px 0 5px 0;
}

.list #pagination td .paginationTable .paginationChangeButtons {
  background-color: $list-view-toolbar-bg;
  padding: 5px 5px 5px 0;
}

.list #pagination td .paginationTable .pageNumbers {
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0 8px 0 0;
  position: static;
  color: $default-btn-color;
}


#listViewStartButton_top  {
  width: 26px;
  background-image: none, url("../../../../themes/SuiteP/images/p_pag_tools.svg"), url("../../../../themes/SuiteP/images/p_pag_tools.png");
  background-repeat: no-repeat;
  background-position: 9px -29px;
  margin-right: 2px;
}

#listViewStartButton_bottom {
  width: 26px;
  background-image: none, url("../../../../themes/SuiteP/images/p_pag_tools.svg"), url("../../../../themes/SuiteP/images/p_pag_tools.png");
  background-repeat: no-repeat;
  background-position: 9px -29px;
  margin-right: 2px;
}

#listViewStartButton_top[disabled] {
  opacity: .5;
  cursor: default;
}

#listViewPrevButton_top[disabled] {
  opacity: .5;
  cursor: default;
}

#listViewNextButton_top[disabled] {
  opacity: .5;
  cursor: default;
}

#listViewEndButton_top[disabled] {
  opacity: .5;
  cursor: default;
}

#listViewStartButton_bottom[disabled] {
  opacity: .5;
  cursor: default;
}

#listViewPrevButton_bottom[disabled] {
  opacity: .5;
  cursor: default;
}

#listViewNextButton_bottom[disabled] {
  opacity: .5;
  cursor: default;
}

#listViewEndButton_bottom[disabled] {
  opacity: .5;
  cursor: default;
}

#listViewStartButton_top img  {
  display: none;
}

#listViewStartButton_bottom img {
  display: none;
}

#listViewPrevButton_top  {
  width: 26px;
  background-image: none, url("../../../../themes/SuiteP/images/p_pag_tools.svg"), url("../../../../themes/SuiteP/images/p_pag_tools.png");
  background-repeat: no-repeat;
  background-position: 9px -50px;
}

#listViewPrevButton_bottom {
  width: 26px;
  background-image: none, url("../../../../themes/SuiteP/images/p_pag_tools.svg"), url("../../../../themes/SuiteP/images/p_pag_tools.png");
  background-repeat: no-repeat;
  background-position: 9px -50px;
}

#listViewPrevButton_top img  {
  display: none;
}

#listViewPrevButton_bottom img {
  display: none;
}

#listViewNextButton_top {
  width: 26px;
  background-image: none, url("../../../../themes/SuiteP/images/p_pag_tools.svg"), url("../../../../themes/SuiteP/images/p_pag_tools.png");
  background-repeat: no-repeat;
  background-position: 10px -132px;
}

#listViewNextButton_bottom {
  width: 26px;
  background-image: none, url("../../../../themes/SuiteP/images/p_pag_tools.svg"), url("../../../../themes/SuiteP/images/p_pag_tools.png");
  background-repeat: no-repeat;
  background-position: 10px -132px;
}

#listViewNextButton_top img {
  display: none;
}

#listViewNextButton_bottom img {
  display: none;
}

#listViewEndButton_top {
  width: 26px;
  background-image: none, url("../../../../themes/SuiteP/images/p_pag_tools.svg"), url("../../../../themes/SuiteP/images/p_pag_tools.png");
  background-repeat: no-repeat;
  background-position: 10px -112px;
  margin-left: 2px;
}

#listViewEndButton_bottom {
  width: 26px;
  background-image: none, url("../../../../themes/SuiteP/images/p_pag_tools.svg"), url("../../../../themes/SuiteP/images/p_pag_tools.png");
  background-repeat: no-repeat;
  background-position: 10px -112px;
  margin-left: 2px;
}

#listViewEndButton_top img {
  display: none;
}

#listViewEndButton_bottom img {
  display: none;
}

.list .pagination td table td {
  padding: 3px 7px 3px 5px;
}

.list .pagination td table td button {
  width: 25px;
}

.list .pagination td table td a:link {
  font-weight: bold;
  text-decoration: none;
  padding: 2px 0 3px 0;
}

.list .pagination td table td a:visited {
  font-weight: bold;
  text-decoration: none;
  padding: 2px 0 3px 0;
}

.reportGroupByDataChildTablelistViewThS1 a:link  {
  font-weight: bold;
  text-decoration: none;
  padding: 2px 0 3px 0;
}

.reportGroupByDataChildTablelistViewThS1 a:visited {
  font-weight: bold;
  text-decoration: none;
  padding: 2px 0 3px 0;
}

.list .pagination td table td a:hover {
  text-decoration: underline;
}

.reportGroupByDataChildTablelistViewThS1 a:hover {
  text-decoration: underline;
}

.list .pagination .buttons {
  padding: 2px 2px 2px 0;
}

.list .pagination #selectCountTop {
  width: 5em;
}

#selectedRecordsTopLabel  {
  color: $list-view-button-color;
}

#selectedRecordsTopValue {
  color: $list-view-button-color;
}

.td_alt {
  font-weight: 800;
  text-align: left;
  padding: 16px 10px 16px 10px;
  border-left: none;
  border-right: none;
  white-space: nowrap;
  font-size: 13px;
}

.list tr th {
  font-weight: 800;
  text-align: left;
  padding: 16px 10px 16px 10px;
  border-left: none;
  border-right: none;
  white-space: nowrap;
  font-size: 13px;
}

.list tr td[scope=col] {
  font-weight: 800;
  text-align: left;
  padding: 16px 10px 16px 10px;
  border-left: none;
  border-right: none;
  white-space: nowrap;
  font-size: 13px;
}

.edit .list tr th {
  font-weight: 800;
  text-align: left;
  padding: 16px 10px 16px 10px;
  border-left: none;
  border-right: none;
  white-space: nowrap;
  font-size: 13px;
}

.edit .list tr td[scope=col] {
  font-weight: 800;
  text-align: left;
  padding: 16px 10px 16px 10px;
  border-left: none;
  border-right: none;
  white-space: nowrap;
  font-size: 13px;
}

.list tr td {
  vertical-align: middle;
  padding: 3px 8px 5px 5px;
}

.list .pagination td {
  padding: 0;
}

.list tr .odd {
  padding: 3px 8px 5px 5px;
  vertical-align: middle;
}

.list th a:link {
  font-weight: bold;
  text-decoration: none;
}

.list th a:visited {
  font-weight: bold;
  text-decoration: none;
}
.list td[scope=col] a:link {
  font-weight: bold;
  text-decoration: none;
}

.list td[scope=col] a:visited {
  font-weight: bold;
  text-decoration: none;
}

.list th a:hover {
  text-decoration: underline;
}

.list td[scope=col] a:hover {
  text-decoration: underline;
}

.list .oddListRowS1 td {
  white-space: normal;
  word-wrap: break-word;
}

.list .evenListRowS1 td {
  white-space: normal;
  word-wrap: break-word;
}

.list thead {
  background-color: $list-view-header-bg;
}

.list .oddListRowS1 td[nowrap] {
  white-space: nowrap;
  word-wrap: normal;
}

.list .evenListRowS1 td[nowrap] {
  white-space: nowrap;
  word-wrap: normal;
}

a.listViewTdToolsS1 {
  padding: 4px;
}

.list td a.listViewTdToolsS1 {
  white-space: nowrap;
  word-wrap: normal;
}


.list tr .nowrap {
  white-space: nowrap;
  word-wrap: normal;
}

.list td a.listViewTdToolsS1 {
  min-width: 55px;
  text-align: left;
}

.inlineButtons .clickMenu > li > span {
  position: absolute;
  right: 0;
}

.list .inlineButtons {
  text-align: right;
  min-width: 75px;
}


.list .pagination td table td {
  background: $list-view-toolbar-bg none repeat scroll 0 0;

}

.list .pagination .buttons .clickMenu:hover > li > a:link {
  color: $list-view-button-color;
}

.list .pagination .buttons .clickMenu:hover > li > a {
  color: $list-view-button-color;
}

.list tr th {
  font-weight: 700;
}

.list tr th a:link {
  font-weight: 700;
  font-size: 13px;
  padding-right: 10px;
}


.list tr th {
  font-size: 13px;
}

.list {
  font-size: 12px;
}


.list-view-rounded-corners {
  margin: 16px 0 16px 0;
}

.list-view-rounded-corners > table {
  border-collapse: separate;
  border-spacing: 0;
}

#pagination:nth-of-type(2) {
  border-collapse: separate;
  border-spacing: 0;
}


.SugarActionMenuIESub li a {
  border: 1px solid transparent;
  overflow: hidden;
}

.clickMenu li a {
  border: 1px solid transparent;
  overflow: hidden;
}

.list .pagination .buttons .clickMenu > li > a:link {
  border: 1px solid transparent;
  overflow: hidden;
}

.list .pagination .buttons .clickMenu > li > a {
  border: 1px solid transparent;
  overflow: hidden;
}

.list-view-rounded-corners > table > thead > th {
  border: 1px solid transparent;
  overflow: hidden;
}

.pagination-bottom {
  border: 1px solid transparent;
  overflow: hidden;
}

.list-view-rounded-corners > table th:first-of-type {
  border-top-left-radius: 4px;
}

.list-view-rounded-corners > table th:last-of-type {
  border-top-right-radius: 4px;
}

.pagination-bottom .paginationTable td:first-of-type {
  border-bottom-left-radius: 4px;
}

.pagination-bottom .paginationTable td:last-of-type {
  border-bottom-right-radius: 4px;
}

#history_search table td {
  width: auto;
}

#history_search table td:nth-of-type(2) select[multiple] {
  height: 48px;
}

#history_search table td:nth-of-type(2) select[size] {
  height: 48px;
}

#history_search table td:nth-of-type(8) div {
  display: inline-block;
}
.col-advanced-search {
  margin-bottom: 16px;

}

.col-advanced-search label {
  font-weight: 700;
}


.table-responsive.list  > tbody > tr > td  {
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.table-responsive.list  > tbody > tr > td a {
  font-weight: bold;
  color: $list-view-link-color;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: $list-view-link-color;
}


.table-responsive.list  > tbody > tr > td a:hover {
  color: $list-view-link-hover-color;
  border-bottom-color: $list-view-link-hover-color;
}

// Fix the pencil border
.table-responsive.list  > tbody > tr > td .edit-link {
  border-bottom: none;
}

#selectLinkTop {
  min-width: 32px;
}

#selectLinkTop .sugar_action_button {
  min-width: 32px;
}

#selectLinkBottom {
  min-width: 32px;
}

#selectLinkBottom .sugar_action_button {
  min-width: 32px;
}

#selectLinkTop {
  min-width: 32px;
}

#selectLinkTop .selectActionsDisabled {
  min-width: 32px;
}

.paginationActionButtons .clickMenu .massall {
  float: left;
  margin: 2px 0 0 4px;
}

#selectLink.clickMenu .massall {
  float: left;
  margin: 2px 0 0 4px;
}

.selectCol .massall {
  float: left;
  margin: 2px 0 0 4px;
}

.paginationActionButtons .selectmenu > li > a {
  padding: 0;
}


.selectCol .selectmenu > li > a, #selectLink.clickMenu > li > a {
  padding: 0;
}

.clickMenu.showLess .moreOverflow {
  display: none;
}

.clickMenu.showLess .moduleMenuOverFlowLess {
  display: none;
}

.clickMenu.showMore .moduleMenuOverFlowMore {
  display: none;
}

#selectLink.clickMenu {
  height: 17px;
  min-width: 20px;
  background-image:
          none;
}


.single  a {

  padding: 0;
  background-color: $list-view-action-button-bg;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-right: 4px;
}

.single > a {

  padding: 0;
  background-color: $list-view-action-button-bg;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-right: 4px;
}

#actionLinkTop .sugar_action_button {

  padding: 0;
  background-color: $list-view-action-button-bg;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-right: 4px;
}
#actionLinkBottom .sugar_action_button {

  padding: 0;
  background-color: $list-view-action-button-bg;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-right: 4px;
}

#selectLinkTop .sugar_action_button {

  padding: 0;
  background-color: $list-view-action-button-bg;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-right: 4px;
}

#selectLinkBottom .sugar_action_button {

  padding: 0;
  background-color: $list-view-action-button-bg;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-right: 4px;
}

.paginationActionButtons .clickMenu #massall {
  float: left;
  margin: 1px 4px;
}

#selectLink.clickMenu #massall {
  float: left;
  margin: 1px 4px;
}

.list .pagination td table td a:link {
  color: $default-btn-color;
}

.list .pagination td table td a:visited {
  color: $default-btn-color;
}

.reportGroupByDataChildTablelistViewThS1 a:link {
  color: $default-btn-color;
}

.reportGroupByDataChildTablelistViewThS1 a:visited {
  color: $default-btn-color;
}

.list tr th {
  color: $default-btn-color;
}

.list tr th a:link {
  color: $default-btn-color;
}

.list tr th a:visited {
  color: $default-btn-color;
}

.list tr td[scope=col] {
  color: $default-btn-color;
}

.list tr td[scope=col] a:link {
  color: $default-btn-color;
}

.list tr td[scope=col] a:visited {
  color: $default-btn-color;
}

.list .pagination td table td span.pageNumbers {
  color: $default-btn-color;
}

/*///// MASS ASSIGN /////*/

#massassign_form table {
  width: auto;
  float: left;
}

#massassign_form table td {
  width: auto;
  float: left;
}

.listViewButtons .button:hover {
  background-color: $danger-btn-bg-hover;
}

#massassign_form h3 {
  font-size: 14px;
  font-weight: normal;
  margin: 14px 20px 0 0;
  color: $navbar-search-color;
}

#massassign_form .button {
  margin-right: 10px;
}

#mass_update_table {
  color: $navbar-search-color;
  background-color: $default-btn-color;
}

#mass_update_table td {
  padding-left: 15px;
  line-height: 40px;
}

#mass_update_table td select {
  border-radius: 3px;
}


#selectLinkTop {
  min-height: 16px;
  line-height: 0;
  position: relative;
  padding: 1px;
}

#selectLinkBottom {
  min-height: 16px;
  line-height: 0;
  position: relative;
  padding: 1px;
}

#actionLinkBottom {
  min-height: 16px;
  line-height: 0;
  position: relative;
  padding: 1px;
}

#selectLinkTop input[type=checkbox] {
  margin-top: 5px;
}

#selectLinkBottom input[type=checkbox] {
  margin-top: 5px;
}

#actionLinkBottom input[type=checkbox] {
  margin-top: 5px;
}

#actionLinkTop {
  font-size: 14px;
  min-height: 16px;
  line-height: 11px;
  position: relative;
}

#actionLinkBottom {
  font-size: 14px;
  min-height: 16px;
  line-height: 11px;
  position: relative;
}

#actionLinkTop {
  top: -1px;
}

#actionLinkBottom {
  left: -1px;
}

#detail_header_action_menu .sugar_action_button a#edit_button {
  margin: 5px 10px 5px 9px;
}

#userEditActions .sugar_action_button  a {
  margin: 5px 10px 5px 9px;
}

#actionLinkTop .sugar_action_button  a {
  margin: 5px 10px 5px 9px;
}

#actionLinkBottom .sugar_action_button  a {
  margin: 5px 10px 5px 9px;
}

.buttonOn {
  min-width: 32px;
}

#detail_header_action_menu .sugar_action_button {
  min-width: 32px;
}

#userEditActions .sugar_action_button {
  min-width: 32px;
}

#actionLinkTop .sugar_action_button {
  min-width: 32px;
}

#actionLinkBottom .sugar_action_button {
  min-width: 32px;
  //padding: 11px 10px 12px 10px;
}

#select_actions_disabled_top {
  padding: 4px 10px 4px 10px;
  top: -1px;
  position: relative;
}

#select_actions_disabled_bottom {
  padding: 4px 10px 4px 10px;
  top: -1px;
  position: relative;
}

#detail_header_action_menu > .sugar_action_button > .subnav,
#userEditActions > .sugar_action_button > .subnav,
#selectLinkTop > .sugar_action_button > .subnav,
#selectLinkBottom > .sugar_action_button > .subnav {
  left: 0;
  right: auto;
  background-color: #7B8A96;
}

#detail_header_action_menu > .sugar_action_button > .subnav {
  background-color: $list-view-action-menu-bg;
  width: 100%;
  line-height: 24px;
  color: $default-btn-color;
  padding: 0 5px 0 7px;
}

#detail_header_action_menu > .sugar_action_button > .subnav li {
  background-color: $list-view-action-menu-bg;
  width: 100%;
  line-height: 24px;
  color: $default-btn-color;
  padding: 0 5px 0 7px;
}

#detail_header_action_menu > .sugar_action_button > .subnav a {
  background-color: $list-view-action-menu-bg;
  width: 100%;
  line-height: 24px;
  color: $default-btn-color;
  padding: 0 5px 0 7px;
}

#userEditActions > .sugar_action_button > .subnav {
  background-color: $list-view-action-menu-bg;
  width: 100%;
  line-height: 24px;
  color: $default-btn-color;
  padding: 0 5px 0 7px;
}

#userEditActions > .sugar_action_button > .subnav li {
  background-color: $list-view-action-menu-bg;
  width: 100%;
  line-height: 24px;
  color: $default-btn-color;
  padding: 0 5px 0 7px;
}

#userEditActions > .sugar_action_button > .subnav a {
  background-color: $list-view-action-menu-bg;
  width: 100%;
  line-height: 24px;
  color: $default-btn-color;
  padding: 0 5px 0 7px;
}

#userEditActions .clickMenu li .subnav {
  background-color: $list-view-action-menu-bg;
  width: 100%;
  line-height: 24px;
  color: $default-btn-color;
  padding: 0 5px 0 7px;
}

#selectLinkTop > .sugar_action_button > .subnav  {
  background-color: $list-view-action-menu-bg;
  width: 100%;
  line-height: 24px;
  color: $default-btn-color;
  padding: 0 5px 0 7px;
}

#selectLinkTop > .sugar_action_button > .subnav li  {
  background-color: $list-view-action-menu-bg;
  width: 100%;
  line-height: 24px;
  color: $default-btn-color;
  padding: 0 5px 0 7px;
}

#selectLinkTop > .sugar_action_button > .subnav a  {
  background-color: $list-view-action-menu-bg;
  width: 100%;
  line-height: 24px;
  color: $default-btn-color;
  padding: 0 5px 0 7px;
}

#actionLinkTop .clickMenu li .subnav {
  background-color: $list-view-action-menu-bg;
  width: 100%;
  line-height: 24px;
  color: $default-btn-color;
  padding: 0 5px 0 7px;
}

#actionLinkTop > .sugar_action_button > .subnav {
  background-color: $list-view-action-menu-bg;
  width: 100%;
  line-height: 24px;
  color: $default-btn-color;
  padding: 0 5px 0 7px;
}

#actionLinkTop > .sugar_action_button > .subnav li {
  background-color: $list-view-action-menu-bg;
  width: 100%;
  line-height: 24px;
  color: $default-btn-color;
  padding: 0 5px 0 7px;
}

#actionLinkTop > .sugar_action_button > .subnav a {
  background-color: $list-view-action-menu-bg;
  width: 100%;
  line-height: 24px;
  color: $default-btn-color;
  padding: 0 5px 0 7px;
}

#selectLinkBottom > .sugar_action_button > .subnav {
  background-color: $list-view-action-menu-bg;
  width: 100%;
  line-height: 24px;
  color: $default-btn-color;
  padding: 0 5px 0 7px;
}

#selectLinkBottom > .sugar_action_button > .subnav li {
  background-color: $list-view-action-menu-bg;
  width: 100%;
  line-height: 24px;
  color: $default-btn-color;
  padding: 0 5px 0 7px;
}


#selectLinkBottom > .sugar_action_button > .subnav a {
  background-color: $list-view-action-menu-bg;
  width: 100%;
  line-height: 24px;
  color: $default-btn-color;
  padding: 0 5px 0 7px;
}

#actionLinkBottom .clickMenu li .subnav {
  background-color: $list-view-action-menu-bg;
  width: 100%;
  line-height: 24px;
  color: $default-btn-color;
  padding: 0 5px 0 7px;
}


#actionLinkBottom > .sugar_action_button > .subnav {
  background-color: $list-view-action-menu-bg;
  width: 100%;
  line-height: 24px;
  color: $default-btn-color;
  padding: 0 5px 0 7px;
}

#actionLinkBottom > .sugar_action_button > .subnav li {
  background-color: $list-view-action-menu-bg;
  width: 100%;
  line-height: 24px;
  color: $default-btn-color;
  padding: 0 5px 0 7px;
}

#actionLinkBottom > .sugar_action_button > .subnav a {
  background-color: $list-view-action-menu-bg;
  width: 100%;
  line-height: 24px;
  color: $default-btn-color;
  padding: 0 5px 0 7px;
}

#actionLinkTop .menuItem {
  background-color: $list-view-action-menu-bg;
  width: 100%;
  line-height: 24px;
  color: $default-btn-color;
  padding: 0 5px 0 7px;
}

#actionLinkBottom .menuItem {
  background-color: $list-view-action-menu-bg;
  width: 100%;
  line-height: 24px;
  color: $default-btn-color;
  padding: 0 5px 0 7px;
}


#actionLinkTop .menuItem {
  padding: 0;
}

#actionLinkBottom .menuItem {
  padding: 0;
}

#actionLinkTop .sugar_action_button .subnav.ddopen a {
  color: $default-btn-color;
  display: block;
  float: none;
}

#actionLinkTop .sugar_action_button .subnav.ddopen a:hover {
  color: $default-btn-color;
  display: block;
  float: none;
}

#actionLinkBottom .sugar_action_button .subnav.ddopen a {
  color: $default-btn-color;
  display: block;
  float: none;
}

#actionLinkBottom .sugar_action_button .subnav.ddopen a:hover {
  color: $default-btn-color;
  display: block;
  float: none;
}

#actionLinkTop .sugar_action_button .subnav.ddopen a:hover {
  background-color: $list-view-action-menu-link-bg;
  width: 100%;
}

#actionLinkBottom .sugar_action_button .subnav.ddopen a:hover {
  background-color: $list-view-action-menu-link-bg;
  width: 100%;
}

#actionLinkTop .sugar_action_button .subnav.ddopen li a.menuItemHilite {
  background-color: $list-view-action-menu-link-bg;
  width: 100%;
}

#actionLinkBottom .sugar_action_button .subnav.ddopen li a.menuItemHilite {
  background-color: $list-view-action-menu-link-bg;
  width: 100%;
}

#actionLinkTop .sugar_action_button .subnav.ddopen {
  margin: 0;
  padding: 0;
  border: 0;
}

#actionLinkBottom .sugar_action_button .subnav.ddopen {
  margin: 0;
  padding: 0;
  border: 0;
}

#actionLinkTop .sugar_action_button .subnav.ddopen li {
  margin: 0;
  padding: 0;
  border: 0;
}

#actionLinkBottom .sugar_action_button .subnav.ddopen li {
  margin: 0;
  padding: 0;
  border: 0;
}

#actionLinkTop .sugar_action_button .subnav.ddopen li a {
  margin: 0;
  padding: 0;
  border: 0;
}

#actionLinkBottom .sugar_action_button .subnav.ddopen li a {
  margin: 0;
  padding: 0;
  border: 0;
}

#actionLinkTop .sugar_action_button .subnav li a {
  padding: 5px 15px;
}

#actionLinkBottom .sugar_action_button .subnav li a {
  padding: 5px 15px;
}

#actionLinkTop .sugar_action_button .subnav.ddopen li a {
  padding: 5px 15px;
}

#actionLinkBottom .sugar_action_button .subnav.ddopen li a {
  padding: 5px 15px;
}

#actionLinkTop .sugar_action_button {
  background-color: $list-view-action-menu-bg;

}

#actionLinkBottom .sugar_action_button {
  background-color: $list-view-action-menu-bg;

}

#actionLinkBottom > .sugar_action_button > .subnav a:hover {
  background-color: $list-view-action-menu-bg;

}

#actionLinkTop .menuItemHilite {
  background-color: $list-view-action-menu-bg;

}

#actionLinkBottom .menuItemHilite {
  background-color: $list-view-action-menu-bg;

}

#selectLinkTop>.sugar_action_button>.subnav a:hover {
  background-color: $list-view-action-menu-link-bg;
}

#selectLinkBottom>.sugar_action_button>.subnav a:hover {
  background-color: $list-view-action-menu-link-bg;
}


#selectLinkTop>.sugar_action_button>.subnav {
  padding: 0;
}

#selectLinkBottom>.sugar_action_button>.subnav {
  padding: 0;
}

#selectLinkTop>.sugar_action_button>.subnav li {
  padding: 0;
}

#selectLinkBottom>.sugar_action_button>.subnav li {
  padding: 0;
}

#selectLinkTop>.sugar_action_button>.subnav,
#selectLinkBottom>.sugar_action_button>.subnav {
  padding: 0;
  width: auto;
}

#actionLinkTop>.sugar_action_button>.subnav {
  width: auto;
}

#actionLinkBottom>.sugar_action_button>.subnav {
  width: auto;
}

#detail_header_action_menu .sugar_action_button {
  background-color: $danger-btn-bg;
}

#detail_header_action_menu > .sugar_action_button > .subnav a:hover {
  background-color: $danger-btn-bg;
}

#detail_header_action_menu > .sugar_action_button > .subnav {
  background-color: $danger-btn-bg;
}

#detail_header_action_menu > .sugar_action_button > .subnav li {
  background-color: $danger-btn-bg;
}

#detail_header_action_menu > .sugar_action_button > .subnav a {
  background-color: $danger-btn-bg;
}

#userEditActions .sugar_action_button {
  background-color: $danger-btn-bg;
}

#userEditActions > .sugar_action_button > .subnav a:hover {
  background-color: $danger-btn-bg;
}

#userEditActions > .sugar_action_button > .subnav {
  background-color: $danger-btn-bg;
}

#userEditActions > .sugar_action_button > .subnav li {
  background-color: $danger-btn-bg;
}

#userEditActions > .sugar_action_button > .subnav a {
  background-color: $danger-btn-bg;
}

#detail_header_action_menu .sugar_action_button {
  padding: 5px 20px;
}

#userEditActions .sugar_action_button {
  padding: 5px 20px;
}

#selectLinkTop > .sugar_action_button > .subnav a {
  padding: 5px 20px;
}

#actionLinkBottom > .sugar_action_button > .subnav a {
  color: $default-btn-color;
  width: 100%;
}


#massupdate_form {
  margin-top: 20px;
}

#massupdate_form .buttons {
  padding-bottom: 2px;
}

#mass_update_table tbody tr td {
  padding-bottom: 15px;
}


/*** Search (ListView) ***/

.search {
  margin: 0 0 4px 0;
  padding: 10px 6px 12px 10px;
}

.search > table {
  padding: 0;
  margin: 0;
}

.search td span {
  color: #444444;
}

.submitButtons {
  padding-left: 20px;
}

.submitButtons input {
  margin-bottom: 10px;
}

.search td input[type=text] {
  width: 260px;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 3px;
}

.search td input[type=password] {
  width: 260px;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 3px;
}

.search td select {
  width: 260px;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 3px;
}


.search_form {
  overflow: visible;
  text-align: left;
  margin-bottom: 20px;
}

.search_form .view {
  width: 100%;
  margin: 0;
  padding: 20px;
  background-color: #E6E6E6;
  border-radius: 3px;
  font-size: 13px;
}



select#saved_search_select {
  border: none;
  border-radius: 3px;
}

.search_form input[type=text] {
  background: $filters-input-bg;
}

.search_form textarea {
  background: $filters-input-bg;
}

.search_fields_basic {
  line-height: 48px;
}

.search_fields_basic select[multiple] {
  display: block;
  width: 100%;
}

.search_fields_basic:nth-of-type(3n+1) {
  clear: both;
}


.search_name_basic input {
  width: 75%;
}

.search_fields_basic .dateTimeRangeChoice {
  display: inline-block;
}

.search_fields_basic .dateTimeRangeChoice + div {
  display: inline-block;
}


a#advanced_search_link {
  background-color: $info-btn-bg;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  margin: 4px 0 4px 0;
  padding: 0 40px 0 20px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_create_arrow.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_create_arrow.png");
  background-repeat: no-repeat;
  background-position: 173px 2px;
}

a#advanced_search_link:hover {
  background-color: $info-btn-bg-hover;
}

a#basic_search_link {
  background-color: $info-btn-bg;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  margin: 0 0 0 0;
  padding: 0 40px 0 20px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_create_arrow.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_up_arrow.png");
  background-repeat: no-repeat;
  background-position: 136px 13px;
}

a#basic_search_link:hover {
  background-color: $danger-btn-bg-hover;
}

div#search_form > .advanced input.button {
  background-color: $info-btn-bg;
  color: $default-btn-color;
}

div#search_form > .advanced input.button:hover {
  background-color:$danger-btn-bg-hover;
}

.listViewEmpty {
  background-color: transparent;
}

/*xs-col-*/
@media (max-width: 769px) {
  .search_name_basic img {
    margin: 0 8px 0 8px;
  }
  .search_name_basic input {
    width: 90%;
  }

  .search_buttons_basic {
    margin: 0 8px 0 42px;
  }

}

/*sm-col-*/
@media (min-width: 768px) and (max-width: 991px) {
  .search_name_basic img {
    margin: 0 8px 0 8px;
  }
  .search_name_basic input {
    width: 94%;
  }

  .search_buttons_basic {
    margin: 0 8px 0 42px;
  }
  /*md-col-*/
  @media (min-width: 992px) and (max-width: 1199px) {

    .search_buttons_basic {
      margin: 0 8px 0 42px;
    }

    .search_name_basic img {
      margin: 0 8px 0 8px;
    }
    .search_name_basic input {
      width: 90%;
    }

    .search_buttons_basic {
      position: absolute;
      right: 0;
    }

    #wizform #wizard {
      width: 900px;
    }

  }
  /*md-fixes*/
  @media (min-width: 1180px) and (max-width: 1199px) {
    .search_buttons_basic {
      width: auto;
    }

    #wizform #wizard {
      width: 1000px;
    }
  }
  /*lg-col-*/
  @media (min-width: 1260px) {
    li.topnav {
      padding: 0 5px 0 5px;
    }
  }

  @media (min-width: 1200px) {

    .search_name_basic img {
      margin: 0 8px 0 8px;
    }

    .search_buttons_basic {
      margin: 4px 8px 0 8px;
    }

    .search_fields_basic .col-lg-3 {
      width: 100%;
    }

    #wizform #wizard {
      width: 1100px;
    }
  }

  @media (min-width: 1600px) {
    .search_fields_basic .col-lg-3 {
      width: 25%;
    }
  }
}


@media (min-width: 320px) and (max-width: 978px) {
  .search_fields_basic.col-sm-3 {
    display: block;
  }
}


@media (max-width: 750px) {
  #massassign_form table {
    width: 100%;
    float: left;
  }

  #massassign_form table td {
    width: 100%;
    float: left;
  }

  #massassign_form h3 {
    text-align: center;
    margin-right: 0;
  }

  #massassign_form table {
    text-align: center;
  }

  #massassign_form table td {
    text-align: center;
  }

  #mass_update_table td {
    padding-left: 0;
    line-height: 30px;
  }

  .paginationChangeButtons {
    max-width: 125px;
  }

  .paginationActionButtons {
    padding: 30px;
  }

  #listViewStartButton_top {
    padding: 2px 5px 2px 5px;
    margin: 0;
  }

  #listViewPrevButton_top {
    padding: 2px 5px 2px 5px;
    margin: 0;
  }

  #listViewNextButton_top {
    padding: 2px 5px 2px 5px;
    margin: 0;
  }

  #listViewEndButton_top {
    padding: 2px 5px 2px 5px;
    margin: 0;
  }

  #listViewStartButton_bottom {
    padding: 2px 5px 2px 5px;
    margin: 0;
  }

  #listViewPrevButton_bottom {
    padding: 2px 5px 2px 5px;
    margin: 0;
  }

  #listViewNextButton_bottom {
    padding: 2px 5px 2px 5px;
    margin: 0;
  }

  #listViewEndButton_bottom {
    padding: 2px 5px 2px 5px;
    margin: 0;
  }

  #listViewStartButton_ {
    padding: 2px 5px 2px 5px;
    margin: 0;
  }

  #listViewPrevButton_ {
    padding: 2px 5px 2px 5px;
    margin: 0;
  }

  #listViewNextButton_ {
    padding: 2px 5px 2px 5px;
    margin: 0;
  }

  #listViewEndButton_ {
    padding: 2px 5px 2px 5px;
    margin: 0;
  }

  .pageNumbers {
    font-size: 10px;
  }

  #selectedRecordsTop {
    max-width: 100px;
    float: left;
  }
}
