
/**** LOGIN **/
@import 'variables';

.login {
  padding: 10px 6px 12px 10px ;
}

.login .login_more {
  text-align: right;
}


div.p_login {
  background-color: $main-bg;
  height: 100%;
}

div.p_login .p_login_top {
  background-color: $login-top-bar-bg;
  float: left;
  width: 100%;
  padding: 20px 2% 20px 2%;
}

div.p_login .p_login_top a {
  height: 40px;
  width: 170px;
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  background-image: none, url("../../../../themes/SuiteP/images/p_login_logo.svg"), url("../../../../themes/SuiteP/images/p_login_logo.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

div.p_login .p_login_middle {
  background-color: $main-bg;
  float: left;
  width: 100%;
}
div.p_login .p_login_bottom {
  background-color: $footer-btn-bg;
  float: left;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px 2% 20px 2%;
}

@media (min-height: 400px) {

  div.p_login .p_login_bottom {
    position: absolute;
  }
}

div.p_login .p_login_bottom a#powered_by {
  margin-left: 20px;
}

div.p_login #loginform {
  max-width: 400px;
  padding: 15px;
  margin: 8% auto 0 auto;
  text-align: center;
}

div.p_login #loginform .input-group {
  font-size: 19px;
  color: $default-input-group-color;
  width: 100%;
}

div.p_login #loginform .input-group input {
  background-color: $main-alternate-bg;
  border: none;
  height: 50px;
  line-height: 50px;
  padding: 0 2% 0 60px;
  color: $default-input-group-color;
  border-radius: 3px;
}

div.p_login #loginform .input-group input#user_name, #user_name:-webkit-autofill, div.p_login #loginform .input-group input#user_password {
  background-repeat: no-repeat;
  background-image: none, url("../../../../themes/SuiteP/images/login_bg.svg"), url("../../../../themes/SuiteP/images/login_bg.png");
}

div.p_login #loginform .input-group input#user_name {
  background-position: 12px 9px;
  background-repeat: no-repeat;
  background-image: none, url("../../../../themes/SuiteP/images/login_bg.svg");
}

div.p_login #loginform .input-group input#user_password {
  background-position: 12px -51px;
  background-repeat: no-repeat;
  background-image: none, url("../../../../themes/SuiteP/images/login_bg.png");
}

div.p_login #loginform .glyphicon {
  top: 0;
}

div.p_login #loginform span.error {
  display: block;
  padding: 0;
  line-height: 140%;
  margin-bottom: 0;
  margin-top: 20px;
  color: $danger;
  background-color: transparent;
}

div.p_login #loginform #bigbutton {
  border-radius: 3px;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 0;
  height: 50px;
  line-height: 50px;
}

div.p_login #loginform #bigbutton:hover {
  background-color: $danger-btn-bg-hover;
}



@media (max-width: 750px) {

  div.p_login .p_login_top {
    padding: 10px 3% 10px 3%;
  }

  div.p_login .p_login_top a {
    height: 30px;
    width: 170px;
    background-image: none, url("../../../../themes/SuiteP/images/p_login_logo.svg"), url("../../../../themes/SuiteP/images/p_login_logo.png");
    background-position: 0 -70px;
  }

  div.p_login .p_login_bottom {
    padding-top: 10px;
    padding: 10px 3% 10px 3%;
  }

  div.p_login .p_login_bottom a#powered_by, div.p_login .p_login_bottom a#admin_options {
    font-size: 10px;
    margin-left: 0;
    text-align: center;
    display: block;
  }

  div.p_login .p_login_bottom a#admin_options {
    margin-bottom: 5px;
  }

}
