/*** MAIN ***/
@import 'variables';

html {
  height: 100%;
}

body {
  font-family: $page-font-family;
  font-size: $page-font-size;
  background: $main-bg;
  color: $main-font-color;
  margin: 0;
  overflow: auto;
  height: 100%;
}

img, svg {
  image-rendering: auto;
}

h3 {
  font-size: $page-font-size;
  font-weight: bold;
}

// override bootstrap
a {
  color: $link-color;
}

a:hover {
  color: $link-color-hover;
}


h4 {
  padding-left: 4px;
  margin-bottom: 2px;
}
h5 {
  padding-left: 4px;
  margin-bottom: 2px;
}

hr {
  background-color: #cccccc;
  color: #cccccc;
  border: 0;
  border-top: 1px solid #cccccc;
  clear: both;
  height: 1px;
}

a:link {
  text-decoration: underline;
}

a:visited {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

.studiolink svg, .studiolink img {
  width: 30px;
  height: auto;
}

#ajaxHeader {
  float: left;
}

.bootstrap-container.col-sm-offset-3 {
  background-color: $main-bg;
  margin-top: $navbar-height + 20px;
}

.bootstrap-container {
  background-color: $main-bg;
  margin-top: 110px;

  .dropdown-menu em {
    padding: 0 10px 0 10px;
  }

  .dropdown-menu em a {
    color: $link-color;
  }
}

/* Import Wizard */
.wizard-panel {
  background-color: $main-alternate-bg;
  border-radius: 4px;
  padding: 24px;
}

.wizard-panel [type=file] {
  display: inline-block;
}

.wizard-panel div.confirmTable {
  width: 100%;
}


.wizard-panel #importTable td {
  background-color: $main-alternate-bg;
}

.wizard-panel .step3 td {
  line-height: $input-line-height;
}
.wizard-panel #importconfirm {
  line-height: $input-line-height;
}

.wizard-panel #importTable td button.removeButton {
  background-color: $danger-btn-bg;
  border: none;
  border-radius: 4px;
  height: $button-line-height;
  line-height: $button-line-height;
  margin: 4px;
}


.wizard-panel .step4 > tbody,
.wizard-panel .step4 > tbody > tr,
.wizard-panel .step4 > tbody > tr > td,
.wizard-panel .step4 {
  display: block;
}

.wizard-panel #DupeCheck > tbody,
.wizard-panel #DupeCheck > tbody > tr,
.wizard-panel #DupeCheck {
  display: block;
}

.wizard-panel #DupeCheck > tbody > tr > td {
  display: inline-block;
}

.yui-module.import-stage-4 {
  border: none;
  border-bottom: 1px $active-tab-bg solid;
}

.scroll-h {
  overflow-x: auto;
}

.import-stage-4 ul.subpanelTablist {
  border: none;
}

.import-stage-4 ul.subpanelTablist li {
  border: none;
  display: inline-block;
  margin: 0 0;
  padding: 0;
}

.wizard-panel input[type="file"] {
  background-color: $list-view-action-button-bg;
  border-radius: 4px;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.wizard-panel #importconfirm #importTable {
  display: block;
  width: 200%;
}

.wizard-panel #importconfirm #importTable tbody {
  display: block;
  width: 200%;

}

.wizard-panel #importconfirm #importTable tbody tr {
  display: block;
  width: 200%;
}

.wizard-panel #importconfirm #importTable tr:first-of-type td {
  font-weight: bold;
  border-bottom: 1px solid $active-tab-bg;
  text-align: left;
}

.wizard-panel #importconfirm #importTable td {
  width: 320px;
}

.import-stage-4 ul.subpanelTablist li a {
  background-color: $default-tab-bg;
  border: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: $default-tab-color;
  cursor: pointer;
  display: block;
  font-size: $page-font-size;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: $tab-height;
  margin: 0 2px;
  padding: ($tab-height / 4) 10px;
}

.import-stage-4 ul.subpanelTablist li a span {
  color: $default-tab-color;
  font-size: $page-font-size;
  font-weight: 400;
  letter-spacing: 2px;

}

.import-stage-4 ul.subpanelTablist li a.current {
  background-color: $active-tab-bg;
  color: $action-tab-color;

}

.import-stage-4 ul.subpanelTablist li a:hover {
  background-color: $active-tab-bg-hover;
  color: $default-tab-color;
  border: none;
}

/* ??? */
// Fix ajax loader in the edit view
// Since the z-index is inline the only way to override it is to use the !important
.mask {
  z-index: 3 !important;
}

#ajaxloading_c {
  z-index: 11 !important;
}

::selection {background: $selection-bg;color:$selection-color;} /* Safari */
::-moz-selection {background: $selection-bg;color:$selection-color;} /* Firefox */

@media (max-width: 750px) {

  .bootstrap-container.col-sm-offset-3 {
    margin-top: $navbar-height + 20px;
  }

  .bootstrap-container {
    margin-top: $navbar-height + 20px;
  }
}

@media (max-width: 1130px) {
  .bootstrap-container.col-md-offset-2 {
    margin-left: 0;
  }

  .col-md-10, .bootstrap-container {
    width: 100%;
  }

}