/*** MAIN ***/
@import 'variables';

html {
  height: 100%;
}

body {
  background: $main-bg;
  font-family: $page-font-family;
  font-size: $page-font-size;
  color: $main-color;
  margin: 0;
  overflow: auto;
  height: 100%;
}

img, svg {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.studiolink svg, .studiolink img {
  width: 30px;
  height: auto;
}

#ajaxHeader {
  float: left;
}

#bootstrap-container {
  background-color: $main-bg;
  margin-top: 110px;

  .dropdown-menu em {
    padding: 0 10px 0 10px
  }

  .dropdown-menu em a {
    color: $link-color;
  }
}


@media (max-width: 750px) {

  #bootstrap-container {
    margin-top: 110px;
  }
}

@media (max-width: 1130px) {
  #bootstrap-container.col-md-offset-2 {
    margin-left: 0;
  }

  .col-md-10, #bootstrap-container {
    width: 100%;
  }

}