/**** NAVBAR ****/
@import 'variables';

.navbar-inverse {
  background: $navbar-bg;

  .navbar-brand {
    color: $main-menu-color;
    height: 90px;
    line-height: 90px;
    padding: 0;
    display: inline;
    background-image: url('../../../../themes/SuiteP/images/p_icon_home.png');
    background-repeat: no-repeat;
    background-position: 0px 35px;
    text-indent: -9999px;
    overflow: hidden;
    width: 40px;
  }
  .dropdown-menu {
    padding: 4px 10px 4px 10px;
    min-width: 240px;
    margin-top: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    font-size: 10px;
    background: $main-menu-bg;
    overflow-y: auto;

    li {
      margin: 0;
      padding: 0;

      a {
        color: $main-menu-color;
        background-color: $main-menu-bg;
        text-decoration: none;
        padding: 12px 15px 12px 15px;
        display: block;
        font-size: 14px;
        border-bottom: 1px solid #757083;
        text-transform: none;
        letter-spacing: 0;
        margin: 0;
      }

      a:hover {
        color: $main-menu-color-hover;
        background: $main-menu-bg;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }
    }

    .action-links-title {
      a:hover {
        color: $default-btn-color;
      }
    }
    .recentlinks {
      width: 100%;


      img {
        margin-right: 5px;
      }
      a:hover {
        color: $default-btn-color;
      }
    }
    .favoritelinks {
      width: 100%;

      img {
        margin-right: 5px;
      }
      a:hover {
        color: $default-btn-color;
      }
    }


  }

  .nav {
    display: block;

    > .topnav {
      margin: 0;
      font-size: 1.1em;
      font-size: 13px;
      height: 90px;
      letter-spacing: 2px;
      line-height: 95px;
      padding: 0 7px 0 7px;
      text-transform: uppercase;

      > span.notCurrentTab {
        > a {
          border-top: 3px solid transparent;
          padding-top: 36px;
          padding-bottom: 35px;
        }

        > a:hover {
          border-top: 3px solid $main-menu-current-seperator;
        }
      }

      > span.currentTab {
        > a {
          border-top: 3px solid $main-menu-current-seperator;
          padding-top: 36px;
          padding-bottom: 35px;
        }
      }
    }
  }


  .navbar-right {
    .dropdown-menu {
      border-top-left-radius: 3px;
    }
  }
}

//.dropdown-menu em a:hover {
//  color: #565656;
//  -webkit-transition: all 0.3s ease-out;
//  -moz-transition: all 0.3s ease-out;
//  -o-transition: all 0.3s ease-out;
//  transition: all 0.3s ease-out;
//}


#mobileheader .dropdown-menu li:last-of-type a {
  border-bottom: none;
}

#mobileheader .dropdown-menu li.recent-links-title a {
  padding: 12px 15px 5px 15px
}

#mobileheader .dropdown-menu li.favorite-links-title a {
  padding: 12px 15px 5px 15px
}
.recent_h3 {
  color: $default-btn-color;
  line-height: 42px;
}

.recent_h3 > strong {
  text-transform: none;
}

.navbar-fixed-bottom {
  z-index: 15030;
}

.navbar-fixed-top {
  z-index: 15030;
}

/* fakes the space the icon takes */
li.topnav > ul > li > ul > li a span.topnav-fake-icon {
  display: inline;
  height: 20px;
}

.dropdown-menu li.action-links-title a:hover {
  color: $default-btn-color;
}

.dropdown-menu li.recent-links-title a:hover {
  color: $default-btn-color;
}

.dropdown-menu li.favorite-links-title a:hover {
  color: $default-btn-color;
}

.with-actions .dropdown-menu {
  padding: 0 10px 0 10px;
  width: 200px
}

#mobileheader .dropdown-menu{
  width: 200px;
}

#mobileheader .dropdown-menu li  {
  line-height: normal;
}

.topnav .dropdown-menu li  {
  line-height: normal;
}

.with-actions .dropdown-menu li {
  line-height: normal;
}

#mobileheader .dropdown-menu ul li.recentlinks:last-of-type {
  border-bottom: none;
}

#mobileheader .dropdown-menu ul li.favoritelinks:last-of-type {
  border-bottom: none;
}

#mobileheader .dropdown-menu ul li.recentlinks:only-child {
  border-bottom: none;
}

#mobileheader .dropdown-menu ul li.favoritelinks:only-child {
  border-bottom: none;
}

.topnav .dropdown-menu li.recentlinks:last-of-type {
  border-bottom: none;
}

.topnav .dropdown-menu li.favoritelinks:last-of-type {
  border-bottom: none;
}

.topnav .dropdown-menu li.recentlinks:only-child {
  border-bottom: none;
}

.topnav .dropdown-menu li.favoritelinks:only-child {
  border-bottom: none;
}

.with-actions .dropdown-menu li.recentlinks:last-of-type {
  border-bottom: none;
}

.with-actions .dropdown-menu li.favoritelinks:last-of-type {
  border-bottom: none;
}

.with-actions .dropdown-menu li.recentlinks:only-child {
  border-bottom: none;
}

.with-actions .dropdown-menu li.favoritelinks:only-child {
  border-bottom: none;
}

#mobileheader .dropdown-menu li.recentlinks {
  border-bottom: 1px solid $main-menu-seperator;
}

#mobileheader .dropdown-menu li.favoritelinks {
  border-bottom: 1px solid $main-menu-seperator;
}

.topnav .dropdown-menu li.recentlinks {
  border-bottom: 1px solid $main-menu-seperator;
}

.topnav .dropdown-menu li.favoritelinks {
  border-bottom: 1px solid $main-menu-seperator;
}

.with-actions .dropdown-menu li.recentlinks {
  border-bottom: 1px solid $main-menu-seperator;
}

.with-actions .dropdown-menu li.favoritelinks {
  border-bottom: 1px solid $main-menu-seperator;
}

#mobileheader .dropdown-menu ul li a.recent-links-detail {
  padding-top: 16px;
  padding-bottom: 16px;
}

#mobileheader .dropdown-menu ul li a.favorite-links-detail {
  padding-top: 16px;
  padding-bottom: 16px;
}

#mobileheader .dropdown-menu ul li a.recent-links-edit {
  padding-top: 16px;
  padding-bottom: 16px;
}

#mobileheader .dropdown-menu ul li a.favorite-links-edit {
  padding-top: 16px;
  padding-bottom: 16px;
}

#mobileheader .dropdown-menu ul li a.recent-links-detail {
  border: none;
  width: 85%;
  display: inline-block;
}

#mobileheader .dropdown-menu ul li a.favorite-links-detail {
  border: none;
  width: 85%;
  display: inline-block;
}

.topnav .dropdown-menu li a.recent-links-detail {
  border: none;
  width: 85%;
  display: inline-block;
}

.topnav .dropdown-menu li a.favorite-links-detail {
  border: none;
  width: 85%;
  display: inline-block;
}

.with-actions .recent-links-detail {
  border: none;
  width: 85%;
  display: inline-block;
}

.with-actions .favorite-links-detail {
  border: none;
  width: 85%;
  display: inline-block;
}

.navbar-inverse .dropdown-menu li a.recent-links-edit {
  padding-right: 0px;
}

.navbar-inverse .dropdown-menu li a.favorite-links-edit {
  padding-right: 0px;
}

.navbar-inverse .dropdown-menu li a.recent-links-detail {
  padding-right: 0px;
}

.navbar-inverse .dropdown-menu li a.favorite-links-detail {
  padding-right: 0px;
}

#mobileheader .dropdown-menu ul li a.recent-links-edit {
  border: none;
  width: 20px;
  height: 20px;
  display: inline-block;
}

#mobileheader .dropdown-menu ul li a.favorite-links-edit {
  border: none;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.topnav .dropdown-menu li a.recent-links-edit {
  border: none;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.topnav .dropdown-menu li a.favorite-links-edit {
  border: none;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.with-actions .dropdown-menu li a.recent-links-edit {
  border: none;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.with-actions .dropdown-menu li a.favorite-links-edit {
  border: none;
  width: 20px;
  height: 20px;
  display: inline-block;
}


li.topnav:hover > a {
  border-top: 3px solid $main-menu-hover;
}

li.topnav a:hover {
  color: $main-menu-hover;
}

li.topnav ul.dropdown-menu li:last-child a {
  border-bottom: 0px;
}

.navbar-right .dropdown-menu li:last-child a {
  border-bottom: 0px;
}


.moremenu a {
  color: $default-btn-color ;
  font-size: 1.2em;
  cursor: pointer;
  margin: 0;
  padding: 8px 0 0 0;
}

.moremenu ul {
  margin: 0;
  top: 49px;
}

.moremenu ul li a {
  color: $danger;
  cursor: pointer;
  padding: 5px;
  font-size: 1.2em;
  display: block;
}

.moremenu ul li:hover {
  border-radius: 0 ;
}

.moremenu ul li a:hover {
  color: $default-btn-color ;
  background: none ;
  cursor: pointer;
  padding: 5px;
  background: $danger-btn-bg;
}


.navbar-inverse .navbar-brand:hover {
  background-position: 0px -145px;
}
li#usermenu a {
  background-color: $main-color;
  padding: 35px 0px 10px 0px;
  font-size: 14px;
}

li#usermenu a:hover {
  color: $main-menu-color-hover;
}

#globalLinks ul.user-dropdown li a {
  color: $main-menu-color;
}

#globalLinks ul.user-dropdown li a:hover {
  color: $main-menu-color-hover;
}

li#usermenu a span.caret {
  border: 0;
  height: 10px;
  width: 10px;
  margin-left: 10px;
  background-image: none, url("../../../../index.php?entryPoint=getImage&imageName=p_icon_caret.svg"), url("../../../../index.php?entryPoint=getImage&imageName=p_icon_caret.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

li#usermenu a:hover span.caret {
  background-position: 0 -48px;
}

li#usermenu a span.user_icon {
  height: 42px;
  width: 42px;
  margin-right: 11px;
  background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon.png");
  background-repeat: no-repeat;
  background-position: 0 -1;
  display: block;
  float: left;
  margin-top: -12px;
}

li#usermenu a:hover span.user_icon {
  background-position: 0 -99px;
}



#usermenucollapsed {
  margin: 0 0 0 5px;
  display: none;
}

#usermenucollapsed-mobile {
  margin: 0 0 0 5px;
  display: none;
}

#searchbutton {
  display: none;
}

#searchmobile {
  margin-top: 8px;
  display: none;
}

#searchbutton {
  margin: 10px 5px 0 0;
}

#searchform {
  margin-right: -10px;
  margin-top: 25px;
  margin-right: 15px;
}

#search_form label {
  font-weight: normal;
  color: $global-search-color;
}


#mobileheader .modulename {
  background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&themeName=SuiteP&imageName=p_create_arrow.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&themeName=SuiteP&imageName=p_create_arrow.png");
  background-repeat: no-repeat;
  background-position: 92.5% 5px;
  padding: 15px 32px 18px 0px;
}



#searchform.navbar-form {
  padding: 0;
}

#searchform #query_string  {
  background-color: $global-search-bg;
  float: left;
  border: 3px solid $global-search-bg;
  padding: 12px 12px 12px 12px;
  color: $global-search-text-color;
  font-size: 13px;
  letter-spacing: 1px;
  width: 200px;
  border-radius: 3px;
  min-height: 40px;
  line-height: normal;
  -webkit-text-fill-color:  $global-search-color;
  -webkit-box-shadow: 0 0 0 1000px $global-search-bg inset;
}

#searchform #query_string:-webkit-autofill {
  background-color: $global-search-bg;
  float: left;
  border: 3px solid $global-search-bg;
  padding: 12px 12px 12px 12px;
  color: $global-search-text-color;
  font-size: 13px;
  letter-spacing: 1px;
  width: 200px;
  border-radius: 3px;
  min-height: 40px;
  line-height: normal;
  -webkit-text-fill-color:  $global-search-bg;
  -webkit-box-shadow: 0 0 0 1000px $global-search-bg inset ;
}

#searchform button {
  background-color: #65697A;
  color: $main-menu-color;
  border: none;
  float: left;
  width: 50px;
  height: auto;
  display: block;
  border-radius: 0px 3px 3px 0px;
  margin-left: -50px;
  padding: 10px 10px 10px 10px;
  background-image: none, url("../../../../themes/SuiteP/images/p_search_button.svg"), url("../../../../themes/SuiteP/images/p_search_button.png");
  background-repeat: no-repeat;
  background-position: 14px 8px;
  text-indent: -9999px;
  overflow: hidden;
}

#searchform button:hover {
  background-position: 14px -46px;
  background-color: $global-search-btn-bg;
}

#mobilegloballinks {
  display: none ;
  display: inline;
}



.navbar-fixed-top {
  border: 0;
}

#userlinks {
  margin: 0 0 15px 10px;
}

#userlinks a {
  padding: 5px 10px 5px 10px;
  font-size: 1.1em;
}


.navbar-toggle {
  float: left;
}

#quickcreateplus {
  padding: 0 0 0 10px;
}

#quickcreatelinks {
  margin: 0 0 15px 12px;
  font-size: 1.1em;
}

#quickcreatetop > button {
  margin: 10px 0 0 0;
}

#desktop_notifications > button {
  margin: 10px 0 0 0;
}


.moremenu {
  padding: 8px 10px 8px 10px;
}

.recentlinks_top {
  float: left;
  width: 75%;
  overflow: hidden;
  margin-left: 2px;
  line-height: 32px;
  height: auto;
}


.recentlinks_topedit, li.recentlinks_topedit > a {
  line-height: 32px;
  height: auto;

}


.recentlinks_topedit > a {
  padding: 0 15px 0 15px ;
}

.recentlinks_top > a {
  padding: 0 15px 0 15px ;
  width: auto;
  height: auto;
  line-height: 32px;

}
.recentlinks_topedit {
  float: right;
  width: 20%;
}

.recentlinks_topedit a:focus {
  color: $main-menu-color ;
}

.recentlinks_top a {
  width: 100%;
  height: 100%;
}

.recentlinks  {
  display: block;
}

.favoritelinks {
  display: block;
}


a[id^=grouptab], a[id^=moduleTab] {
  color: $main-menu-color;
  padding: 15px 0 18px 0;
}

a[id^=grouptab]:visited {
  background: none;
}

a[id^=grouptab]:active {
  background: none;
}

.nav .open > a {
  background: none;
}

.nav .open > a:hover {
  background: none;
}

.nav .open > a:focus {
  background: none;
}

#globalLinksicons {
  margin: 0 5px 0 0;
}


.navbar-inverse .navbar-toggle {
  border: none;
}


.navbar-inverse .navbar-toggle:hover {
  background: none;
}

.navbar-inverse .navbar-toggle:focus {
  background: none;
}


.navbar-inverse .navbar-nav > .open > a {
  color: $main-menu-color;
  background: none ;
}

.navbar-inverse .navbar-nav > .open > a:hover {
  color: $main-menu-color;
  background: none ;
}

.navbar-inverse .navbar-nav > .open > a:focus {
  color: $main-menu-color;
  background: none ;
}

#mobileheader {
  display: none;
}

#mobileheader #modulelinks ul li a {
  font-size: 14px;
}

#modulelinks {
  color: $main-menu-color;
}

#quickcreatetop {
  float: left;
  margin-top: 25px;
  margin-right: 15px;
}

#quickcreatetop a {
  color: $main-menu-color ;
  text-align: center;
  padding: 11px 32px 12px 12px;
  border-radius: 3px;
  background-color: $quick-create-btn-bg;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  float: left;
  background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_create_arrow.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_create_arrow.png");
  background-repeat: no-repeat;
  background-position: 80px 2px;
}

#quickcreatetop a:hover {
  cursor: pointer;
  background-color: $quick-create-btn-bg-hover;
  background-position: 80px -56px;
  text-decoration: none;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#quickcreatetop ul.dropdown-menu {
  background-color: #829EB5;
  border-radius: 3px;
  border-top-right-radius: 0px;
  padding: 4px 10px 4px 10px;
}

#quickcreatetop ul li {
  padding: 0 ;
  margin: 0 ;
}

#quickcreatetop ul li a {
  padding: 12px 15px 12px 15px ;
  margin: 0 ;
  background-image: none;
  background-color: #829EB5;
  border-radius: 0;
  text-transform: none;
  border-bottom: 1px solid #95ACC0;
  letter-spacing: 0px;
  font-size: 14px;
  width: 100%;
  display: block;
  text-align: left;
}

#quickcreatetop ul li.last a {
  border-bottom: none;
}

#quickcreatetop ul li a:hover {
  color: $main-menu-color ;
}

#quickcreatetop .dropdown-menu {
  margin-top: 0px ;
}

#desktop_notifications {
  float: left;
  width: 44px;
  height: 48px;
  margin-right: 15px;
  background-image: none, url("../../../../themes/SuiteP/images/p_icon_alert.svg"), url("../../../../themes/SuiteP/images/p_icon_alert.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

#desktop_notifications #alerts.dropdown-menu {
  left: auto;
}

#desktop_notifications:hover {
  background-position: 0px -100px;
}

#desktop_notifications a {
  cursor: pointer;
}

#desktop_notifications ul li {
  padding: 0 ;
  margin: 0 ;
}

#desktop_notifications ul li a {
  padding: 0 3px 0 3px ;
  margin: 0 ;
  line-height: 35px;
}



#desktop_notifications button.alertsButton {
  background-color: transparent;
  border: none;
  width: 44px;
  height: 48px;
  margin-top: 0px;
}

#desktop_notifications span.alert_count {
  background-color: $alert-count-bg;
  line-height: 20px;
  color: $main-menu-color;
  height: 20px;
  width: 20px;
  display: block;
  float: left;
  border-radius: 30px;
  position: relative;
  left: 24px;
  top: -16px;
  font-size: 10px;
}

#desktop_notifications .alert {
  margin-bottom: 8px ;
}

#desktop_notifications .close {
  font-weight: normal;
  line-height: 1;
  color: $alert-body-color;
  text-shadow: none;
  filter: none;
  opacity: 1;
}

#desktop_notifications .alert {
  font-weight: normal;
  line-height: 1;
  color: $alert-body-color;
  text-shadow: none;
  filter: none;
  opacity: 1;
}

#desktop_notifications .close {
  position: relative;
  top: 0px;
  right: 0px;
  color: inherit;
}

#desktop_notifications .close span {
  color: $main-menu-color;
  margin-right: 0px ;
  margin-bottom: 0px ;
}

#desktop_notifications div.dropdown-menu {
  background-color: $danger;
  color: $main-menu-color;
  margin: 0;
  padding: 8px;
  font-size: 12px;
  border-radius: 0px;
}

#desktop_notifications div.has-alerts {
  background-color: $main-menu-bg;
  border-radius: 2px;
}

#desktop_notifications div.has-alerts .alert-info {
  color: $main-menu-color;
  background-color: inherit;

  border: 1px solid $main-menu-seperator;
  border-radius: 2px;
  padding: 0;
}

#desktop_notifications div.has-alerts .text-info {
  color: $main-menu-color;
}

#desktop_notifications div.has-alerts p {
  font-size: 12px;
  line-height: 20px;
  background-color: $main-bg;
  color: $main-color;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  min-height: 20px;
  max-width: 256px;
  width: 256px;
}

#desktop_notifications div.has-alerts h4  {
  padding: 8px 15px 8px 15px;
  margin: 0 ;
}

#desktop_notifications div.has-alerts p {
  padding: 8px 15px 8px 15px;
  margin: 0 ;
}

#desktop_notifications div.has-alerts h4 {
  font-size: 14px;
  font-weight: bold;
  background-color: $main-menu-bg;
  line-height: 20px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#desktop_notifications div.has-alerts h4 img {
  width: 16px;
  height: 16px;
}


@media (max-width: 750px) {
  #desktop_notifications div.has-alerts {
    background-color: $toolbar-bg;
  }

  #desktop_notifications div.has-alerts h4 {
    background-color: $main-menu-bg;
    line-height: 20px;
  }
}

.mobile-bar ul.dropdown-menu.user-dropdown{
  left: -140px ;
}

#modulelinks > ul.dropdown-menu {
  left: 50px ;
}

@media (min-width: 768px) and (min-height: 381px) {
  .mobile-bar #globalLinks {
    height: 90px;
  }

  .mobile-bar ul.dropdown-menu.user-dropdown{
    top: 78px ;
    left: -140px ;
  }

}

@media (min-width: 768px) and (min-height: 381px) {
  .mobile-bar #globalLinks {
    height: 90px;
  }
  .mobile-bar ul.dropdown-menu.user-dropdown{
    top: 78px ;
    left: -140px ;
  }
}

@media (max-width: 1560px) {

  .navbar-fixed-top {
    height: 90px;
    max-height: 90px;
  }

  #searchform {
    display: none;
  }

  .navbar-form .form-control {
    margin: 8px 0 0 0;
  }

  #searchbutton {
    display: inline;
  }

  #desktop_notifications .dropdown-menu {
    left: -140px;
  }

  li.topnav ul.dropdown-menu {
    left: 0px;
  }


  #searchformdropdown button {
    background-color: transparent;
    color: $main-menu-color;
    border: none;
    float: left;
    width: 50px;
    display: block;
    margin-left: -50px;
    padding: 12px 12px 12px 12px;
    background-image: none, url("../../../../themes/SuiteP/images/p_search_button.svg"), url("../../../../themes/SuiteP/images/p_search_button.png");
    background-repeat: no-repeat;
    background-position: 13px 10px;
    text-indent: -9999px;
    overflow: hidden;
  }

  #searchformdropdown button:hover {
    background-position: 13px -44px;
  }

  #search > .dropdown-menu {
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
  }

  #search #query_string {
    background-color: $global-search-bg;
    color: $global-search-text-color;
    font-size: 14px;
    letter-spacing: 1px;
    width: 200px;
    border: none;
    border-radius: 3px;
    padding: 12px 12px 12px 12px;
    height: auto;
  }

  #usermenucollapsed,
  #usermenucollapsed-mobile {
    background-color: transparent;
    height: 42px;
    width: 42px;
    background-image: none, url("../../../../themes/SuiteP/images/p_user_icon.svg"), url("../../../../themes/SuiteP/images/p_user_icon.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-top: 14px;
    border: none;
    margin-left: 0px;
  }

  #usermenucollapsed, #usermenucollapsed-mobile:hover {
    background-position: 0 -99px;
  }

  #content {
    width: 99%;
    margin-left: 1%;
  }
}


@media (max-width: 750px) {
  .modulename {
    line-height: 60px;
  }

  .navbar-toggle {
    height: 60px;
  }

  #mobile_menu {
    z-index: 65530;
    top: 60px;
    left: 20px;
  }

  #quickcreatetop {
    margin-top: 10px;
  }

  #quickcreatetop a {
    padding: 5px 32px 5px 12px;
    background-color: $quick-create-mobile-btn-bg;
    background-position: 80px -5px;
  }

  #quickcreatetop a:hover {
    background-position: 80px -5px;
  }

  #search {
    position: relative;
    min-height: 28px;
  }

  #search > .dropdown-menu {
    top: -64px;
    right: -112px;
    bottom: auto;
    left: auto;
    width: auto;
    clear: both;
  }

  #search .dropdown-menu  {
    width: 200px;
  }

  #search #searchformdropdown .input-group {
    width: 100%;
  }

  #search #query_string {
    top: 0px;
    right: 0px;
    bottom: auto;
    left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    width: 80% ;
  }

  #search #searchbutton {
    margin: 0px 10px 0 0;
    background-color: transparent;
    border: none;
    background-image: none, url("../../../../themes/SuiteP/images/p_search_button_small.svg"), url("../../../../themes/SuiteP/images/p_search_button_small.png");
    background-repeat: no-repeat;
    background-position: 0px 10px;
    text-indent: -9999px;
    overflow: hidden;
    padding: 12px 0px 12px 0px;
    width: 28px;
    height: 40px;
  }

  #search.open #searchbutton {
    background-position: 0px -60px;
    background-color: transparent;
  }

  #quickcreatetop ul.dropdown-menu {
    left: 0px;
  }

  #usermenucollapsed {
    border: none;
    border-radius: 0;
    background-color: transparent;
    height: 28px;
    margin-top: 0px;
    width: 28px;
    background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon_small.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon_small.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }


  #desktop_notifications, #desktop_notifications:hover {
    float: left;
    width: 28px;
    height: 28px;
    margin-top: 9px;
    margin-right: 20px;
    background-image: none, url("../../../../themes/SuiteP/images/p_icon_alert_small.svg"), url("../../../../themes/SuiteP/images/p_icon_alert_small.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
  }
}

@media (min-width: 750px) {
  .modulename {
    line-height: 90px;
  }

  .navbar-toggle {
    height: 90px;
  }

  #mobile_menu {
    top: 90px;
    left: 10px;
    -webkit-overflow-scrolling: touch;
  }

  #search .dropdown-menu {
    position: absolute;
    top: 14px;
    right:  0;
    bottom: auto;
    left: -224px;
    background: transparent;
  }

  #search .dropdown-menu  {
    width: 100%;
  }

  #search #searchformdropdown .input-group {
    width: 100%;
  }

  #search #query_string {
    top: 0;
    left: 0px;
    margin-top: 0px;

  }

  #search .input-group-btn {
    top: 0px;
    left: 0px;
  }

  #quickcreatetop {
    margin-top: 25px;
  }

  #quickcreatetop a {
    padding: 11px 32px 12px 12px;
    background-position: 80px 2px;
  }

  #quickcreatetop a:hover {
    background-position: 80px -56px;
  }

  #quickcreatetop ul.dropdown-menu {
    left: 0px;
  }

  #usermenucollapsed, #usermenucollapsed-mobile {
    background-color: transparent;
    height: 42px;
    width: 42px;
    background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
    margin-left: 0px;
  }

  #usermenucollapsed {
    border: none;
    border-radius: 0;
    background-position: 0 0;
  }

  #usermenucollapsed:hover {
    background-position: 0 -99px;
  }


  #desktop_notifications {
    float: left;
    width: 44px;
    height: 48px;
    margin-top: 22px;
    margin-right: 10px;
    background-image: none, url("../../../../themes/SuiteP/images/p_icon_alert.svg"), url("../../../../themes/SuiteP/images/p_icon_alert.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
  }

  #desktop_notifications:hover {
    background-position: 0px -100px;
  }

  #search {
    margin-right: 8px;
  }


  #search.open #searchbutton {
    margin: 25px 15px 0 0;
    background-color: transparent;
    border: none;
    background-image: url("../../../../themes/SuiteP/images/sidebar/modules/search-close.svg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 38px 38px;
    text-indent: -9999px;
    overflow: hidden;
    padding: 12px 0px 12px 0px;
    width: 42px;
  }

  #Icon_5_ {
    fill: $main-menu-color;
  }

  #search #searchbutton {
    margin: 25px 15px 0 0;
    background-color: transparent;
    border: none;
    background-image: url("../../../../themes/SuiteP/images/p_search_button.svg"), url("../../../../themes/SuiteP/images/p_search_button.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    padding: 12px 0px 12px 0px;
    width: 26px;
  }

  #search:not(.open) #searchbutton {
    background-position: 0px -46px;
  }

  #search.open #searchbutton {
    background-position: 0px 0px;
    background-color: transparent;
  }

  #searchbutton:hover {
    background-position: 0px 8px;
    background-color: transparent;
  }
}


@media (max-width: 1130px) {

  #usermenu {
    display: none;
  }

  .navbar-inverse .navbar-brand {
    display: none;
  }

  #mobileheader {
    display: block;
  }

  .navbar-toggle {
    display: inline-block;
  }

  footer.expandedSidebar {
    width: 94%;
  }

  .modulename {
    visibility: visible;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left ;
    margin: 0 auto 0 15px ;
  }

  #mobile_menu {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden ;
    float: left;
    width: 300px ;
    margin: 0;
    padding: 0;
    background: #5d5670 ;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

  }

  #mobile_menu li {
    list-style: none;
    height: 50px;
    margin: 0;
    border-bottom: 1px solid #757083;
    line-height: 50px;
  }

  #mobile_menu a {
    color: $main-menu-color;
    display: block;
    padding: 0px 15px;
    font-size: 14px;
  }

  #mobile_menu a:hover {
    color: $main-menu-color-hover;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .navbar-header {
    float: none;
  }


  #globalLinks {
    display: inline-block ;
  }

  #quickcreatetop {
    display: inline-block ;
  }

  #search {
    display: inline-block ;
  }

  #desktop_notifications {
    display: inline-block ;
  }

  #toolbar {
    display: block;
    margin-top: -90px;
    height: 48px;
  }
}



@media (max-width: 750px) {
  .navbar .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar .container-fluid .navbar-header {
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
  }

  #toolbar {
    margin-top: 0px;
    width: 100%;
    background-color: $toolbar-bg;
    padding: 0 20px 0 0;
  }

  .navbar {
    min-height: 60px ;
  }

  .navbar-inverse {
    max-height: 60px ;
  }

  .navbar-fixed-top {
    height: 60px;
  }

  .modulename {
    height: 60px;
    width: 100%;
    line-height: 60px ;
  }

  #quickcreatetop {
    margin-top: 10px;
  }
}


@media (max-width: 340px) {
  #mobilegloballinks a {
    color: $main-menu-color;
    float: right;
    margin: 8px 0 0;
    padding: 8px;
    position: fixed;
    right: 0;
    top: 0;
  }

  #userlinks_head {
    color: #ffffff ;
    float: right;
    margin: 8px 0 0;
    padding: 8px;
    position: fixed;
    right: 40px;
    top: 0;
  }
}

@media (max-width: 750px) {
  #userlinks_home {
    display: none;
  }

  .quickcreate {
    display: none;
  }

  #userlinks_currentuser {
    display: none;
  }

  #searchmobile {
    float: left;
    z-index: 50 ;
    position: absolute;
    left: 60px;
    width: 70% ;
  }

  #searchmobile #query_string {
    width: 75% ;
    outline: 0 ;
    border: none ;
    border-radius: 0 ;
    -webkit-appearance: none ;
    box-shadow: none ;
    float: left;
  }

  #mobilegloballinks {
    display: inline;
  }
}


@media  (max-width: 750px) {
  #searchmobile {
    float: left;
    z-index: 50 ;
    position: absolute;
    left: 60px;
    width: 80% ;
  }

  #searchmobile #query_string {
    width: 80% ;
    outline: 0 ;
    border: none ;
    border-radius: 0 ;
    color: $main-menu-color ;
    -webkit-appearance: none ;
    box-shadow: none ;
    float: left;
  }

  #mobilegloballinks {
    display: inline;
  }
  #usermenucollapsed:hover {
    background-position: 0 0px;
  }
}


@media (max-width: 980px) {
  ul.navbar-nav li a {
    color: $main-menu-color;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: $main-menu-color ;
  }
}


@media (min-width: 1024px) {
  .navbar-nav > li:hover ul {
    display: block;
  }

  #globalLinks:hover ul.dropdown-menu {
    display: block;
  }

  #quickcreatetop:hover ul.dropdown-menu {
    display: block;
  }

  a.menu:after {
    content: none;
  }

  .dropdown-toggle:after {
    content: none;
  }

  #wizform #wizard {
    width: 1000px;
  }
}




@media (max-width: 1399px) {
  #usermenu, #searchform {
    display: none;
  }

  #globalLinks {
    border: none;
    margin: 10px 0 0 0;
    padding: 0;
  }

  .navbar-form .form-control {
    margin: 8px 0 0 0;
  }

  #usermenucollapsed  {
    display: inline;
  }

  #usermenucollapsed-mobile {
    display: inline;
  }

  #searchbutton {
    display: inline;
  }



  #search .dropdown-menu {
    background-color: transparent;
    padding: 10px;
    /*top: 14px;*/
    /*right: 6px;*/
  }

  #searchformdropdown button {
    background-color: transparent;
    color: $main-menu-color;
    border: none;
    float: left;
    width: 50px;
    display: block;
    margin-left: -50px;
    padding: 12px 12px 12px 12px;
    background-image: none, url("../../../../themes/SuiteP/images/p_search_button.svg"), url("../../../../themes/SuiteP/images/p_search_button.png");
    background-repeat: no-repeat;
    background-position: 13px 10px;
    text-indent: -9999px;
    overflow: hidden;
  }

  #searchformdropdown button:hover {
    background-position: 13px -44px;
  }

  #search #query_string {
    background-color: $global-search-bg;
    color: $global-search-text-color;
    font-size: 14px;
    letter-spacing: 1px;
    width: 200px;
    border: none;
    border-radius: 3px;
    height: auto;
  }


  @media print {
    .navbar-inverse {
      display: none;
    }

    .sidebar {
      display: none;
    }
  }
}


/* dropdown vertical size fixes */
/* mobile small */
#modulelinks > ul {
  max-height: 200px;
  height: 200px;
}

.mobileheader ul {
  max-height: 200px;
  height: 200px;
}

#mobile_menu {
  max-height: 200px;
  height: 200px;
}

.navbar-header ul.dropdown-menu {
  max-height: 200px;
  height: 200px;
}

.with-actions > .dropdown-menu {
  max-height: 200px;
  height: 200px;
}

.moremenu ul {
  max-height: 200px;
  height: 200px;
}

ul.dropdown-menu {
  max-height: 200px;
  height: 200px;
}

.navbar-fixed-bottom .navbar-collapse {
  max-height: 200px;
  height: 200px;
}

.navbar-fixed-top .navbar-collapse {
  max-height: 200px;
  height: 200px;
}

.navbar-fixed-bottom .navbar-collapse  {
  max-height: 200px;
  height: 200px;
  overflow-y: scroll;
}

.navbar-fixed-top .navbar-collapse {
  max-height: 200px;
  height: 200px;
  overflow-y: scroll;
}

/*mobile medium*/
@media (min-height: 380px) {
  .navbar-header ul.dropdown-menu {
    max-height: 200px;
    height: auto;
  }

  .topnav .dropdown-menu {
    max-height: 200px;
    height: auto;
  }

  .with-actions > .dropdown-menu {
    max-height: 200px;
    height: auto;
  }

  .moremenu ul {
    max-height: 200px;
    height: auto;
  }

  ul.dropdown-menu {
    max-height: 200px;
    height: auto;
  }

  #modulelinks > ul {
    max-height: 280px;
    height: 280px;
  }

  .mobileheader ul {
    max-height: 280px;
    height: 280px;
  }

  #mobile_menu {
    max-height: 280px;
    height: 280px;
  }

  .navbar-fixed-bottom .navbar-collapse {
    max-height: 280px;
    height: 280px;
  }

  .navbar-fixed-top .navbar-collapse {
    max-height: 280px;
    height: 280px;
  }
}

/* mobile large*/
@media  (min-height: 480px) {
  .navbar-header ul.dropdown-menu {
    max-height: 380px;
    height: auto;
  }

  .topnav .dropdown-menu {
    max-height: 380px;
    height: auto;
  }

  .with-actions > .dropdown-menu {
    max-height: 380px;
    height: auto;
  }

  .moremenu ul {
    max-height: 380px;
    height: auto;
  }

  ul.dropdown-menu {
    max-height: 380px;
    height: auto;
  }

  #modulelinks > ul {
    max-height: 380px;
    height: auto;
  }
  .mobileheader ul {
    max-height: 380px;
    height: auto;
  }
  #mobile_menu {
    max-height: 380px;
    height: auto;
  }

  .navbar-fixed-bottom .navbar-collapse {
    max-height: 380px;
    height: 380px;
  }

  .navbar-fixed-top .navbar-collapse {
    max-height: 380px;
    height: 380px;
  }

}

/* 720p / ipad */
@media  (min-height: 700px) {
  .navbar-header ul.dropdown-menu {
    max-height: 620px;
    height: auto;
  }

  .topnav .dropdown-menu {
    max-height: 620px;
    height: auto;
  }

  .with-actions > .dropdown-menu {
    max-height: 620px;
    height: auto;
  }

  .moremenu ul {
    max-height: 620px;
    height: auto;
  }

  ul.dropdown-menu {
    max-height: 620px;
    height: auto;
  }

  #modulelinks > ul {
    max-height: 620px;
  }

  .mobileheader ul {
    max-height: 620px;
  }

  #mobile_menu {
    max-height: 620px;
  }

  .navbar-fixed-bottom .navbar-collapse {
    max-height: 620px;
    height: 620px;
  }

  .navbar-fixed-top .navbar-collapse {
    max-height: 620px;
    height: 620px;
  }
}

/* 720p-1080p*/
@media  (min-height: 820px) {
  .navbar-header ul.dropdown-menu {
    max-height: 700px;
    height: auto;
    overflow-y: auto;
  }

  .topnav .dropdown-menu {
    max-height: 700px;
    height: auto;
    overflow-y: auto;
  }

  .with-actions > .dropdown-menu {
    max-height: 700px;
    height: auto;
    overflow-y: auto;
  }

  .moremenu ul {
    max-height: 700px;
    height: auto;
    overflow-y: auto;
  }

  ul.dropdown-menu {
    max-height: 700px;
    height: auto;
    overflow-y: auto;
  }


  .navbar-fixed-bottom .navbar-collapse {
    max-height: 620px;
    height: 620px;
    overflow-y: auto;
  }

  .navbar-fixed-top .navbar-collapse {
    max-height: 620px;
    height: 620px;
    overflow-y: auto;
  }

}

/* 1080p*/
@media  (min-height: 920px) {
  .navbar-header ul.dropdown-menu {
    max-height: 820px;
    height: auto;
  }

  .topnav .dropdown-menu {
    max-height: 820px;
    height: auto;
  }

  .with-actions > .dropdown-menu {
    max-height: 820px;
    height: auto;
  }

  .moremenu ul {
    max-height: 820px;
    height: auto;
  }

  ul.dropdown-menu {
    max-height: 820px;
    height: auto;
  }

}

/* 2K and above */
@media  (min-height: 1080px) {
  .navbar-header ul.dropdown-menu {
    max-height: inherit;
    height: auto;
  }

  .topnav .dropdown-menu {
    max-height: inherit;
    height: auto;
  }

  .with-actions > .dropdown-menu {
    max-height: inherit;
    height: auto;
  }

  .moremenu ul, ul.dropdown-menu {
    max-height: inherit;
    height: auto;
  }

}