.popup {
  .nav-tabs {
    margin-top: 0;
    margin-bottom: 0;
  }
  .nav-tabs > li, .nav-tabs > li:hover {
    margin-bottom: 0;

    a {
      border: hidden;
    }

    a:hover {
      border: hidden;
    }

    a:active {
      border: hidden;
    }

    a:focus {
      border: hidden;
    }
  }

  .list tr th:last-child {
    border-top-right-radius: 4px;
  }
  .glyph-print {
    font-size: 20px;
    color: #778591;
    font-weight: normal;
    text-align: right;
  }
  .print{
      font-weight: normal;
      padding: 0 30px 0 0;
      text-decoration: underline;
  }
  .moduleTitle h2 {
    display: block;
    font-size: 26px;
    font-weight: 300;
    color: $main-font-color;
    margin: 0 0 0 0;
    float: left;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0 0 0 30px;
  }
  .h1, .h2, .h3, h1, h2, h3{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .blank-space{
    width: 1px;
    height: 1px;
  }
  .icon{
    width: 30px;
    height: 30px;
  }
  .content {
    padding: 0 3% 0 3%;
    width: 100%;
  }
}