.popup {
  .nav-tabs {
    margin-top: 0;
    margin-bottom: 0;
  }
  .nav-tabs > li, .nav-tabs > li:hover {
    margin-bottom: 0;


     a {
       border: hidden;
     }

    a:hover {
      border: hidden;
    }

    a:active {
      border: hidden;
    }

    a:focus {
      border: hidden;
    }
  }

  .list tr th:last-child {
    border-top-right-radius: 4px;
  }
  .glyph-print{
    font-size: 20px;
    color: #778591;
  }
  .moduleTitle h2 {
    display: block;
    font-size: 26px;
    font-weight: 300;
    color: $main-font-color;
    margin: 0 0 $detail-view-module-title-space 0;
    float: left;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0px 0px 0px 30px;
  }
}