/**** Tabs ***/
ul.nav-tabs {
  border: hidden;
  margin: 16px 0 16px 0; }

ul.nav-tabs > li > a, ul.nav-tabs > li.active > a:focus {
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #BFCAD3;
  margin: 0 2px 0 2px;
  color: #ffffff;
  line-height: 32px;
  border-color: #eee #eee #fff;
  cursor: pointer; }

ul.nav-tabs > li:first-of-type > a {
  background-color: #BFCAD3;
  margin: 0 2px 0 0;
  color: #ffffff; }

#overflow-menu > li > span.notCurrentTabLeft, #overflow-menu > li > span.notCurrentTabRight {
  visibility: collapse;
  display: none; }

#overflow-menu > li {
  line-height: normal;
  height: auto; }

#overflow-menu > li a {
  margin: 0;
  padding: 12px 15px 12px 15px;
  font-size: 14px;
  font-weight: normal;
  clear: both; }

#overflow-menu > li > ul,
#overflow-menu > li > ul > li {
  display: none;
  visibility: collapse;
  height: 0;
  padding: 0;
  margin: 0; }

a.first-tab-xs {
  /*TODO: fix long tabs*/
  background-color: #778591 !important;
  border-bottom: none !important;
  padding-right: 30px !important;
  background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_create_arrow.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_create_arrow.png");
  background-repeat: no-repeat;
  background-position: 90% 120%;
  background-origin: border-box;
  background-size: 10px 95px; }

#first-tab-menu-xs.dropdown-menu {
  padding: 8px !important;
  margin: 0 0 0 1px !important; }

#first-tab-menu-xs.dropdown-menu > li > a {
  border-bottom: 1px solid #93A0AB; }

#first-tab-menu-xs.dropdown-menu > li:last-of-type > a {
  border-bottom: none; }

#first-tab-menu-xs.dropdown-menu {
  border-top-right-radius: 4px; }

#first-tab-menu-xs.dropdown-menu,
#first-tab-menu-xs.dropdown-menu > li,
#first-tab-menu-xs.dropdown-menu > li > a {
  background-color: #778591 !important; }

ul.nav-tabs > li:first-of-type > a:hover {
  background-color: #BFCAD3;
  color: #ffffff;
  border-color: #eee #eee #fff;
  margin: 0 2px 0 0; }

ul.nav-tabs > li > a:hover {
  background-color: #BFCAD3;
  color: #ffffff;
  border-color: #eee #eee #fff; }

ul.nav-tabs > li.active > a, ul.nav-tabs > li.active > a:focus {
  background-color: #778591;
  color: #ffffff;
  border-color: #eee #eee #fff;
  margin-left: 0px; }

ul.nav-tabs > li.active > a:hover {
  background-color: #778591;
  color: #ffffff;
  border-color: #eee #eee #fff; }

/*Override bootstrap (needs to be stacked)*/
.dropdown-menu > li > a,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: white;
  text-decoration: none;
  background-color: #f08377; }

#tab-actions > a {
  cursor: pointer;
  background-color: #f08377;
  padding-right: 42px;
  background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_create_arrow.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_create_arrow.png");
  background-repeat: no-repeat;
  background-position: 80% 120%;
  background-origin: border-box;
  background-size: 10px 95px;
  border-color: #f08377;
  border-bottom: #fa988d; }

#tab-actions > a:hover {
  cursor: pointer;
  background-color: #f08377;
  color: white; }

#tab-actions > .dropdown-menu {
  left: auto;
  right: 0px;
  background-color: #f08377;
  margin-right: 2px;
  border-top-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

#tab-actions > .dropdown-menu li {
  background-color: #f08377;
  border-bottom: 1px solid #fa988d; }

#tab-actions > .dropdown-menu input {
  width: 100%;
  text-align: left; }

li#tab-actions > ul.dropdown-menu a,
li#tab-actions > ul.dropdown-menu .button,
li#tab-actions > ul.dropdown-menu .button:hover,
li#tab-actions > ul.dropdown-menu .button:focus,
li#tab-actions > ul.dropdown-menu .button:active,
li#tab-actions > ul.dropdown-menu .open > .dropdown-toggle.btn-primary {
  background-color: #f08377; }

li#tab-actions > ul.dropdown-menu li:last-of-type a {
  background-color: #f08377;
  border: none; }

div.tab-content {
  background-color: #ffffff;
  padding: 24px;
  border: 1px solid transparent;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 30px; }
