<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation   = "http://schema.phpunit.de/3.7/phpunit.xsd"
    backupGlobals                   = "true"
    backupStaticAttributes          = "false"
    colors                          = "true"
    convertNoticesToExceptions      = "true"
    convertWarningsToExceptions     = "true"
    convertErrorsToExceptions       = "true"
    processIsolation                = "false"
    stopOnFailure                   = "false"
    stopOnError                     = "false"
    syntaxCheck                     = "true"
    bootstrap                       = "bootstrap.php">

    <testsuites>
        <testsuite name="AllTests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">../</directory>
            <exclude>
                <directory>../.git</directory>
                <directory>../.github</directory>
                <directory>../XTemplate</directory>
                <directory>../Zend</directory>
                <directory>../cache</directory>
                <directory>../vendor</directory>
                <directory>../tests</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <ini name="display_errors" value="true"/>
    </php>

</phpunit>
