$tree-elbow-height: 24px !default;
$tree-elbow-width: 20px !default; //change this to 16
$tree-checkbox-margin-top: 4px !default;
$tree-checkbox-margin-right: 3px !default;
$tree-icon-margin-top: 2px !default;
$tree-icon-margin-right: 3px !default;
$grid-cell-treecolumn-editor-field-padding-horizontal: 1px !default;