//********************
//* color palette
//********************
$color-1: #000000;
$color-2: #31708F;
$color-3: #333333;
$color-4: #337AB7;
$color-5: #3C763D;
$color-6: #444444;
$color-7: #032241;
$color-8: #555555;
$color-9: #5D5670;
$color-10: #5CB85C;
$color-11: #65697A;
$color-12: #666666;
$color-13: #66727D;
$color-14: #677785;
$color-15: #6A6578;
$color-16: #6EA674;
$color-17: #6A80E6;
$color-18: #757083;
$color-19: #777777;
$color-20: #778591;
$color-21: #79996A;
$color-22: #808F9C;
$color-23: #829EB5;
$color-24: #8499AB;
$color-25: #888888;
$color-26: #8A6D3B;
$color-27: #93A0AB;
$color-28: #E5E8EB;
$color-29: #9589B3;
$color-30: #99534D;
$color-31: #999999;
$color-32: #A2A5AF;
$color-33: #A2B2BF;
$color-34: #A5E8D6;
$color-35: #AA9DCC;
$color-36: #ABC3D7;
$color-37: #B29EB5;
$color-38: #BBE6A5;
$color-39: #BFCAD3;
$color-40: #C4C3C7;
$color-41: #C9D2DA;
$color-42: #CCE8E2;
$color-43: #D66C60;
$color-44: #D8F5EE;
$color-45: #E2E7EB;
$color-46: #E56455;
$color-47: #E6D5A5;
$color-48: #E6E6E6;
$color-49: #FF0000;
$color-50: #F08377;
$color-51: #F5F5F5;
$color-52: #F8F8F8;
$color-53: #FA988D;
$color-54: #FAF7CF;
$color-55: #FAFAFA;
$color-56: #FFAFA6;
$color-57: #A5E6E6;
$color-58: #A94442;
$color-59: #AFAABF;
$color-60: #B3C0C7;
$color-61: #C7254E;
$color-62: #CCCCCC;
$color-63: #D9EDF7;
$color-64: #F3F4F6;
$color-65: #DFDFDF;
$color-66: #DFF0D8;
$color-67: #E0DDEB;
$color-68: #E3E3E3;
$color-69: #E5E5E5;
$color-70: #E67C73;
$color-71: #ECE9F5;
$color-72: #EDEBF5;
$color-73: #F2DEDE;
$color-75: #F7F7F7;
$color-76: #F8F8F8;
$color-77: #F9F2F4;
$color-78: #F9F9F9;
$color-79: #FCF8E3;
$color-80: #FFFFFF;
$color-81: #001E40;
$color-82: #FFDE00;
$color-86: #7BDBFF;
$color-87: #D9DEE3;
$color-88: #B1E7FC;
$color-89: #5CA4BF;
$color-90: #FFFFFF;