/*
Error: Invalid CSS after "$": expected identifier, was "body {"
        on line 2 of /var/www/html/sdk/instances/suitecrm-development-mysql/themes/SuiteP/css/sass/variables.scss

1: $background-color: #f5f5f5;
2: $
3: 
4: body {
5:   background: $background-color;
6: }

Backtrace:
/var/www/html/sdk/instances/suitecrm-development-mysql/themes/SuiteP/css/sass/variables.scss:2
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1167:in `expected'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1096:in `tok!'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:604:in `variable'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
/usr/share/koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
/usr/share/koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
/usr/share/koala/bin/sass:18:in `load'
/usr/share/koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"$\": expected identifier, was \"body {\"\A         on line 2 of /var/www/html/sdk/instances/suitecrm-development-mysql/themes/SuiteP/css/sass/variables.scss\A \A 1: $background-color: #f5f5f5;\A 2: $\A 3: \A 4: body {\A 5:   background: $background-color;\A 6: }"; }
