// UTILITY CLASSES
// ---------------

// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}

// text direction
.tcenter {
	text-align: center !important;
}
.tleft {
	text-align: left !important;
}
.tright {
	text-align: right !important;
}