/* TYPOGRAPHY */
$page-font-family: 'Lato', Lato, Arial, sans-serif;
$page-font-size: 13px;

/* FONT COLORS */
$main-font: #534D64;
$primary: #778591;
$danger: #F08377;
$success: #66996B;
$info: #AA9DCC;

/* BACKGROUND COLORS */
$main-bg: #f5f5f5;
$navbar-bg: #534D64;
$sidebar-bg: #778591;
$sidebar-button-bg: #94A6B5;
$sidebar-button-bg-hover: #94A6B5;
$default-bg: #94A6B5;
$default-bg-hover: #94A6B5;
$primary-bg: $primary;
$primary-bg-hover: #778591;
$info-bg: $info;
$info-bg-hover: #9589b3;
$danger-bg: $danger;
$danger-bg-hover: #D66C60;
$success-bg: $success;
$success-bg-hover: #6EA674;
$footer-bg: #E6E6E6;
$panel-bg: #E6E6E6;
$table-header-bg: #778591;
$table-nav-bg: #BFCAD3;
$table-focus-bg: #FAF7CF;
$table-alternate-row-bg: #FFFFFF;
$input-bg: #D8F5EE;
$main-menu-bg: #5D5670;

/* BORDER COLORS */
/* URLS */
/* BREAKPOINTS */
/* MEASUREMENTS */