
body {
    margin: 0;
    line-height: 20px;
    color: #151319;
}

table.aor_reports {
    border-spacing:0;
    border-collapse: collapse;
    border: 1px solid #D4D3D8;
    padding: 5px 4px;
}

table.aor_reports tr {
    padding: 5px 0 5px 0;
}

table.aor_reports th {
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    background-color: #534D64;
    border: 1px solid #534D64;
    padding: 10px 4px;
}

table.aor_reports td {
    font-size: 11px;
    text-align: left;
    background-color: #F2F1F3;
    border-bottom: 1px solid #fff;
    padding: 5px 4px;
}

table.aor_reports tr.evenListRowS1 td {
    background-color: #fff;
}


