//********************
//* color palette
//********************
$color-1: #000000;
$color-2: #31708F;
$color-3: #ffffff;
$color-4: #337AB7;
$color-5: #3C763D;
$color-6: #444444;
$color-7: #416F81;
$color-8: #ffffff;
$color-9: #416F81;
$color-10: #5CB85C;
$color-11: #4E869C;
$color-12: #666666;
$color-13: #4E869C;
$color-14: #677785;
$color-15: #6A6578;
$color-16: #6EA674;
$color-17: #6A80E6;
$color-18: #757083;
$color-19: #777777;
$color-20: #2E4F5C;
$color-21: #79996A;
$color-22: #808F9C;
$color-23: #829EB5;
$color-24: #8499AB;
$color-25: #888888;
$color-26: #8A6D3B;
$color-27: #93A0AB;
$color-28: #4E869C;
$color-29: #8fb1b3;
$color-30: #99534D;
$color-31: #999999;
$color-32: #A2A5AF;
$color-33: #1F4351;
$color-33: #1F4351;
$color-34: #416F81;
$color-35: #76BEC1;
$color-36: #416F81;
$color-37: #305160;
$color-38: #BBE6A5;
$color-39: #396070;
$color-40: #305160;
$color-41: #487d90;
$color-42: #CCE8E2;
$color-43: #d49366;
$color-44: #416F81;
$color-45: #E2E7EB;
$color-46: #E6A06D;
$color-47: #E6D5A5;
$color-48: #305160;
$color-49: #FF0000;
$color-50: #E6A06D;
$color-51: #253F4A;
$color-52: #F8F8F8;
$color-53: #e6ac83;
$color-54: #4E869C;
$color-55: #FAFAFA;
$color-56: #FFAFA6;
$color-57: #A5E6E6;
$color-58: #ffffff;
$color-59: #AFAABF;
$color-60: #396070;
$color-61: #C7254E;
$color-62: #CCCCCC;
$color-63: #D9EDF7;
$color-64: #396070;
$color-65: #DFDFDF;
$color-66: #DFF0D8;
$color-67: #E0DDEB;
$color-68: #E3E3E3;
$color-69: #E5E5E5;
$color-70: #F08377;
$color-71: #ECE9F5;
$color-72: #EDEBF5;
$color-73: #F2DEDE;
$color-74: #F5F5F5;
$color-75: #F7F7F7;
$color-76: #F8F8F8;
$color-77: #F9F2F4;
$color-78: #F9F9F9;
$color-79: #416F81;
$color-80: #2E4F5C;
$color-81: #FFFFFF;
$color-82: #DFDDF2;
$color-83: #1F4351;
$color-86: #FFFFFF;
$color-90: #FFFFFF;