/**** Admin ***/

.admin-panel {
  h3 {
    font-size: $page-font-size + 1px;
    font-weight: bold;
  }

  .other {
    margin-top: 20px;
  }

  .suitepicon {
    font-size: 26px;
    position: relative;
    top: 2px;
  }

  .suitepicon:before {
    vertical-align: baseline;
  }
}

.other {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
}

.other td {
  font-weight: normal;
  padding: 4px 10px 4px 6px;
  vertical-align: middle;
}

.other td[scope=row] {
  padding: 4px 6px 4px 6px;
  white-space: nowrap;
}

.other .edit td {
  background: transparent;
}

.other .edit {
  margin-top: 0;
}

.other td.edit div.wizard-unique-elem td {
  background: transparent;
}

.other td.edit div.wizard-unique-elem .header-4 {
  padding-left: 0;
  margin-top: 0;
}

.other.view td {
  line-height: 48px;
  height: 48px;
}

.other.view img, .other.view svg {
  display: inline-block;
  font-weight: 700;
  margin: 5px 0 0 5px;
  float: left;
  width: 32px;
  height: 32px;
}

.other.view a {
  display: inline-block;
  position: relative;
  font-weight: 700;
  margin: 0 0 0 10px;
}

.other.view td:nth-of-type(1) {
  display: block;
  background-color: $main-alternate-bg;
  float: left;
  width: 100%;
  text-wrap: normal;

}
.other.view td:nth-of-type(2) {
  display: block;
  background-color: $main-alternate-bg;
  padding-bottom: 10px;
  padding-left: 52px;
  float: right;
  line-height: 24px;
  width: 100%;
  height: auto;
}

.other.view td:nth-of-type(2):after {
  clear: both;
}
.other.view td:nth-of-type(3) {
  display: block;
  background-color: $main-bg;
  float: left;
  width: 100%;
}
.other.view td:nth-of-type(4) {
  display: block;
  background-color: $main-bg;
  padding-bottom: 10px;
  padding-left: 52px;
  float: right;
  line-height: 24px;
  width: 100%;
  height: auto;
}

@media (min-width: 1250px) {
  /* left admin panel column */
  .other.view td a {
    line-height: 100%;
    height: 100%;
    white-space: normal;
  }

  .other.view td:nth-of-type(1) {
    display: block;
    float: left;
    width: 25%;
  }

  .other.view td:nth-of-type(3) {
    display: block;
    float: left;
    width: 25%;
  }

  /* right admin panel column */
  .other.view td:nth-of-type(2) {
    display: block;
    float: right;
    line-height: 48px;
    width: 75%;
    height: 48px;
  }

  .other.view td:nth-of-type(4) {
    display: block;
    float: right;
    line-height: 48px;
    width: 75%;
    height: 48px;
  }
}

/*** Menu Filters ***/
#edittabs  table:nth-of-type(2),
#edittabs  table:nth-of-type(2) > tbody,
#edittabs  table:nth-of-type(2) tbody > tr
{
  width: 100%;
}

#edittabs  table:nth-of-type(2) tbody > tr > td {
  display: inline-block;
}

#edittabs .edit {
  display: inline-block;
  margin: 0 16px 0 0;
  border: 1px solid transparent;
  border-radius: $border-radius-base;
  width: 16% ;
}

#edittabs  table:nth-of-type(2) tbody > tr > td:nth-of-type(2) {
  width: 80%;
}

#s_field_delete > tbody > tr > td,
#trash,
#trashcan,
#trashcan table,
#trashcan table > tbody,
#trashcan table > tbody > tr
{
  width: 100%;
}

#edittabs h2 {
  font-size: $page-font-size;
  font-weight: bold;
}

#edittabs #trash {
  overflow: visible;
  height: 64px;
}


#edittabs .listContainer {
  overflow-y: auto;
  height: 384px;
}

#edittabs .listContainer li span {
  display: block;
  font-size: 13px;
  font-weight: 700;
  background: $main-bg;
  padding: 8px 0 8px 8px;
  margin-bottom: 4px;
  border: 1px solid transparent;
  border-radius: $border-radius-base;
  width: 98%;
}


#edittabs #groupTable,
#edittabs #groupTable > tbody,
#edittabs #groupTable > tbody > tr {
  width: 100%;
}

#edittabs #groupTable {
  background: $main-alternate-bg;
  border: 1px solid transparent;
  border-radius: $border-radius-base;
}

#edittabs #groupTable * {
  border: none;
}


#edittabs #groupTable .tdContainer {
  display: inline-block;
  width: 15%;
}

.slotB {
  border-width:0;cursor:move;

}

span.error:empty{
  padding:0;
  border:0;
}


#groupTable > tbody > tr:nth-child(1) > td {
  margin: 0 8px 8px 16px;
}

#edittabs #groupTable .tdContainer h2 {
  margin: 16px 0 8px 0;
}

#edittabs #groupTable .tdContainer h2 > span:nth-of-type(1) {
  display: inline-block;
  width: 80%;
}

#edittabs #groupTable .tdContainer h2 > span:nth-of-type(2) {
  display: inline-block;
  width: 10%;
}

div#rollover {
  float: left;
  margin: 0;
  position: relative;
  text-decoration: none;
}

div#rollover a:hover {
  padding: 0;
  text-decoration: none;
}

div#rollover a span {
  display: none;
}

div#rollover a:hover span {
  background-color: $main-alternate-bg;
  display: block;
  color: $gray-dark;
  font-size: 12px;
  margin-left: 5px;
  margin-top: 5px;
  padding: 10px;
  position: absolute;
  border: 1px solid $btn-default-border;
  text-decoration: none;
  width: 250px;
  z-index: 1000;
}

.email table [class*=col-] {
  display: table-cell;
}