
.aor-tab-content {
  background-color: $panel-bg;
}

#report-editview-footer {
  width: 100%;
}

#detailpanel_fields_select {
  border-right: 2px solid $panel-border-bg;
  display: inline-block;
  padding: 8px;
  width: 20%;
}

#detailpanel_fields_display {
  display: inline-block;
  padding: 8px;
  width: 75%;
}

.aor_dragbox {
  overflow: scroll;
  height: 250px;
}

#report-editview-footer .tab-togglers {
  margin-left: 20%;
}

#report-editview-footer .tab-toggler.active .button {
  background-color: $danger-btn-bg;
}

#report-editview-footer .parentheses-btn {
  display: block;
}

#report-editview-footer .condition-sortable-handle {
  cursor: move;
}

#report-editview-footer .parenthesis-line strong {
  font-size: 18px
}

#report-editview-footer .drop-area.highlighted {
  background-color: $aor-droparea;
}


.noGraphDataPoints {
  padding: 10px;
}

.rgraph_chart_tooltips_css {
  font-family: 'Lato', Arial;
}


.aor-tab-content {
  #group_display_table {
    margin-bottom: 8px;
  }
    #fieldLines_head, #aor_conditionLines_head, #chartHead {
      td {
        background-color: $table-header-bg;
        color: $action-tab-color;
        height: 32px;
        font-weight: 700;
      }
      td:first-of-type {
        border-top-left-radius: 4px;
      }

      td:last-of-type {
        border-top-right-radius: 4px;
      }
    }

  #fieldLines {
    tbody {
      tr {
        height: 64px;

        td {
          background-color: $main-alternate-bg;

          [type=text] {
            margin-right: 4px;
          }
        }

        td:first-of-type {
          padding-left:  4px;
          .button {
            padding: 6px 6px 18px 6px;
            line-height: 10px;
            height: 0px;
            font-size: 32px;
          }
        }
      }
    }

    tbody:nth-of-type(2n) {
      tr {
        td {
          background-color: $main-bg;
        }
      }
    }
  }

  #aor_conditionLines {
    .logic-select {
      margin-right: 4px;
    }

    tbody {
      tr {
        height: 64px;

        td {
          background-color: $main-alternate-bg;

          [type=text] {
            margin-right: 4px;
          }
        }

        td:first-of-type {
          padding-left:  4px;
          .button {
            padding: 6px 6px 18px 6px;
            line-height: 10px;
            height: 0px;
            font-size: 32px;
          }
        }
      }
    }

    tbody {
      tr:nth-of-type(2n) {
        td {
          background-color: $main-bg;
        }
      }
    }

    #aor_conditionLines_head {
      td:nth-of-type(2),
      td:last-of-type {
        padding-right: 8px;
      }
    }

    #aor_conditions_body {

    }
  }

  #detailpanel_charts {

    tbody {
      tr {
        height: 64px;
        td {
          background-color: $main-alternate-bg;

          [type=text] {
            margin-right: 4px;
          }

          select {
            margin-right: 4px;
          }
        }

        td:first-of-type {
          padding-left:  4px;
          .removeChartButton {
            margin-right: 4px;
            padding: 6px 6px 18px 6px;
            line-height: 10px;
            height: 0px;
            font-size: 32px;
          }
        }
      }
    }

    tbody {
      tr:nth-of-type(2n) {
        td {
          background-color: $main-bg;
        }
      }
    }
  }
}

#aor_condition_parenthesis_table {
  border: none;border: none;
  margin-bottom: 8px;

  tbody {
    border: none;border: none;
    tr {
      border: none;border: none;
    }
  }


  #aor_condition_parenthesis_btn {
    font-weight: 700;
  }
}

.parentheses-btn {
  border: 1px solid transparent;
  border-radius: $border-radius-base;
  background-color: $info-btn-bg;
  color: $default-btn-color;
  font-weight: 700;
}

.parentheses-btn:hover {
  background-color: $info-btn-bg-hover;
  cursor: grab;
}

.parentheses-btn .condition-sortable-handle {
  padding: 5px 10px 5px 10px
}


.jqtree-tree .jqtree-title {
  color: $link-color;
}


#detailpanel_report {
  .list-view-rounded-corners {
    margin: 0px;
  }

  .list-view-rounded-corners > table th:first-of-type {
    border-top-left-radius: 0;
  }

  .list-view-rounded-corners > table th:last-of-type {
    border-top-right-radius: 0;
  }
}