.modal {
  .panel {
    .panel-heading a div {
      width: 93.66%;
    }
  }

  .close {
    opacity: 1;
  }
}

@media (min-width: $md-breakpoint) {
  .modal {
    .panel {
      .panel-heading a div {
        width: 96.66%;
      }
    }
  }
}