.popupBody {
  .list tr th {
    padding: 10px;
  }

  .list tr th a:link {
    padding-right: 0;
  }

  .list.view .pagination .button {
    padding: 0;
  }

  .list.view .selectedRecords{
    line-height: 26px;
    margin: 0 4px 0 4px;
  }

  .list.view .pagination .button .suitepicon {
    line-height: 26px;
  }

  .list.view .sugar_action_button {
    line-height: 26px;
  }
}

.popup {
  .nav-tabs {
    margin-top: 0;
    margin-bottom: 0;
  }
  .nav-tabs > li, .nav-tabs > li:hover {
    margin-bottom: 0;

    a {
      border: hidden;
    }

    a:hover {
      border: hidden;
    }

    a:active {
      border: hidden;
    }

    a:focus {
      border: hidden;
    }
  }
  .list tr th:first-child {
    width: 2%;
  }
  .list tr th:nth-child(2) {
    width: 28%;
  }
  .list tr th:nth-child(3) {
    width: 20%;
  }
  .list tr th:nth-child(4) {
    width: 25%;
  }
  .list tr th:last-child {
    width: 25%;
    border-top-right-radius: 4px;
  }


  .glyph-print {
    font-size: 20px;
    color: $panel-button-bg-hover;
    font-weight: normal;
    text-align: right;
  }
  .print {
    font-weight: normal;
    padding: 0 30px 0 0;
    text-decoration: underline;
  }
  .moduleTitle h2 {
    display: block;
    font-size: 26px;
    font-weight: 300;
    color: $main-header-font-color;
    margin: 0 0 0 0;
    float: left;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0 0 0 30px;
  }
  @mixin popupHeading() {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .h1 {
    @include popupHeading();
  }
  .h2 {
    @include popupHeading();
  }
  .h3 {
    @include popupHeading();
  }
  h1{
    @include popupHeading();
  }
  h2{
    @include popupHeading();
  }
  h3{
    @include popupHeading();
  }
  .blank-space {
    width: 1px;
    height: 1px;
  }
  .icon {
    width: 30px;
    height: 30px;
  }
  .content {
    padding: 0 3% 0 3%;
    width: 100%;
  }
}