
@font-face {
    font-family: "suitepicon";
    src: url("../../../../themes/SuiteP/css/suitepicon.eot#iefix") format("embedded-opentype"),
    url("../../../../themes/SuiteP/css/suitepicon.woff") format("woff"),
    url("../../../../themes/SuiteP/css/suitepicon.ttf") format("truetype"),
    url("../../../../themes/SuiteP/css/suitepicon.svg#suitepicon") format("svg");
}

.suitepicon {
    line-height: 1;
}

.suitepicon:before {
    font-family: suitepicon !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
}
