# FIXME: To be removed once virtualhost does not use .htaccess anymore

Require all granted

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !Api/index.php$
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L,QSA]
RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
